# Portfolio Risk Dashboard

The purpose of this project is to practice creating a dashboard to easily observe and take note of portfolio risk.
Since the last year has been affected by COVID-19 we are only going to pull pricing data for risk calculation from the last 6 months.

### Importing Packages

In [24]:
import numpy as np
import pandas as pd
import requests

### Importing Data

For this project, we will be using the financial information publicly available from Voss Capital's 2021 13F. The data is publicly available at this address: https://whalewisdom.com/filer/voss-capital-llc#tabholdings_tab_link
The data available on a 13F is "[b]asically anything that is traded on an exchange as well as certain equity options and warrants, shares of closed-end investment companies and certain convertible debt securities." Source: whalewisdom.com

### About the Data in the 13F

The data tells us only what quarter the shares were purchased in and the predicted price that the fund paid for the amount.

### About Stock Vantage API

Can provide stock data

import a mock csv of what we are looking for.

In [7]:
df = pd.read_csv("data/portfolio_csv_input.csv")

Figuring out how to index through these.

In [9]:
df.head()

  ticker  shares  buy_price buy_date
0   TSLA       2       4.98   4-3-21
1    DIS       2    2342.00   5-7-21
2     KO       4     324.00   2-2-21
3  BRK.B       2    1112.00   8-9-21

Let's take a look at the data types

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     4 non-null      object
 1   shares     4 non-null      int64
 2   buy_price  4 non-null      float64
 3   buy_date   4 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

lets practice indexing a dataframe

In [20]:
for i in df.ticker:
    print(i)

TSLA
DIS
KO
BRK.B

In [22]:
df.head()

  ticker  shares  buy_price buy_date
0   TSLA       2       4.98   4-3-21
1    DIS       2    2342.00   5-7-21
2     KO       4     324.00   2-2-21
3  BRK.B       2    1112.00   8-9-21

### Now let's see if we can get some historical data using the Alpha Vantage API.

In [190]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TSLA&apikey=0HG27IzWW0AWYH0X'
r = requests.get(url)
data = r.json()
print(data)

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': 'TSLA', '3. Last Refreshed': '2022-04-20', '4. Output Size': 'Compact', '5. Time Zone': 'US/Eastern'}, 'Time Series (Daily)': {'2022-04-20': {'1. open': '1030.0000', '2. high': '1034.0000', '3. low': '975.2501', '4. close': '977.2000', '5. volume': '21616141'}, '2022-04-19': {'1. open': '1005.0600', '2. high': '1034.9400', '3. low': '995.3250', '4. close': '1028.1500', '5. volume': '16615944'}, '2022-04-18': {'1. open': '989.0300', '2. high': '1014.9200', '3. low': '973.4100', '4. close': '1004.2900', '5. volume': '17238407'}, '2022-04-14': {'1. open': '999.2900', '2. high': '1012.7099', '3. low': '982.1900', '4. close': '985.0000', '5. volume': '19474135'}, '2022-04-13': {'1. open': '981.0750', '2. high': '1026.2400', '3. low': '973.0970', '4. close': '1022.3700', '5. volume': '18373737'}, '2022-04-12': {'1. open': '997.6400', '2. high': '1021.1921', '3. low': '976.6001', '4. close': '986.9500', '5. volume': '21992032'}, '2022-04-11': {'1. open': '980.4000', '2. high': '1008.4681', '3. low': '974.6400', '4. close': '975.9300', '5. volume': '19785735'}, '2022-04-08': {'1. open': '1043.2100', '2. high': '1048.4400', '3. low': '1022.4350', '4. close': '1025.4900', '5. volume': '18337896'}, '2022-04-07': {'1. open': '1052.3900', '2. high': '1076.5900', '3. low': '1021.5401', '4. close': '1057.2600', '5. volume': '26482353'}, '2022-04-06': {'1. open': '1073.4700', '2. high': '1079.0000', '3. low': '1027.7000', '4. close': '1045.7600', '5. volume': '29782845'}, '2022-04-05': {'1. open': '1136.3000', '2. high': '1152.8700', '3. low': '1087.3000', '4. close': '1091.2600', '5. volume': '26192187'}, '2022-04-04': {'1. open': '1089.3800', '2. high': '1149.9100', '3. low': '1072.5300', '4. close': '1145.4500', '5. volume': '27392567'}, '2022-04-01': {'1. open': '1081.1500', '2. high': '1094.7500', '3. low': '1066.6400', '4. close': '1084.5900', '5. volume': '18087741'}, '2022-03-31': {'1. open': '1094.5700', '2. high': '1103.1399', '3. low': '1076.6410', '4. close': '1077.6000', '5. volume': '16330919'}, '2022-03-30': {'1. open': '1091.1700', '2. high': '1113.9500', '3. low': '1084.0000', '4. close': '1093.9900', '5. volume': '19955002'}, '2022-03-29': {'1. open': '1107.9900', '2. high': '1114.7700', '3. low': '1073.1100', '4. close': '1099.5700', '5. volume': '24538273'}, '2022-03-28': {'1. open': '1065.1000', '2. high': '1097.8799', '3. low': '1053.6000', '4. close': '1091.8400', '5. volume': '34168693'}, '2022-03-25': {'1. open': '1008.0000', '2. high': '1021.7999', '3. low': '997.3201', '4. close': '1010.6400', '5. volume': '20496893'}, '2022-03-24': {'1. open': '1009.7300', '2. high': '1024.4900', '3. low': '988.8000', '4. close': '1013.9200', '5. volume': '22973626'}, '2022-03-23': {'1. open': '979.9400', '2. high': '1040.7000', '3. low': '976.4000', '4. close': '999.1100', '5. volume': '40225383'}, '2022-03-22': {'1. open': '930.0000', '2. high': '997.8600', '3. low': '921.7500', '4. close': '993.9800', '5. volume': '34882278'}, '2022-03-21': {'1. open': '914.9800', '2. high': '942.8500', '3. low': '907.0900', '4. close': '921.1600', '5. volume': '26640958'}, '2022-03-18': {'1. open': '874.4900', '2. high': '907.8500', '3. low': '867.3900', '4. close': '905.3900', '5. volume': '33443159'}, '2022-03-17': {'1. open': '830.9900', '2. high': '875.0000', '3. low': '825.7178', '4. close': '871.6000', '5. volume': '22194324'}, '2022-03-16': {'1. open': '809.0000', '2. high': '842.0000', '3. low': '802.2601', '4. close': '840.2300', '5. volume': '28009607'}, '2022-03-15': {'1. open': '775.2700', '2. high': '805.5700', '3. low': '756.5700', '4. close': '801.8900', '5. volume': '22280381'}, '2022-03-14': {'1. open': '780.6100', '2. high': '800.7000', '3. low': '756.0400', '4. close': '766.3700', '5. volume': '23717421'}, '2022-03-11': {'1. open': '840.1970', '2. high': '843.8020', '3. low': '793.7700', '4. close': '795.3500', '5. volume': '22345722'}, '2022-03-10': {'1. open': '851.4500', '2. high': '854.4500', '3. low': '810.3601', '4. close': '838.3000', '5. volume': '19549548'}, '2022-03-09': {'1. open': '839.4800', '2. high': '860.5600', '3. low': '832.0100', '4. close': '858.9700', '5. volume': '19727993'}, '2022-03-08': {'1. open': '795.5300', '2. high': '849.9900', '3. low': '782.1700', '4. close': '824.4000', '5. volume': '26799702'}, '2022-03-07': {'1. open': '856.3000', '2. high': '866.1400', '3. low': '804.5700', '4. close': '804.5800', '5. volume': '24164724'}, '2022-03-04': {'1. open': '849.1000', '2. high': '855.6500', '3. low': '825.1609', '4. close': '838.2900', '5. volume': '22393287'}, '2022-03-03': {'1. open': '878.7700', '2. high': '886.4390', '3. low': '832.6001', '4. close': '839.2900', '5. volume': '20541169'}, '2022-03-02': {'1. open': '872.1300', '2. high': '886.4800', '3. low': '844.2721', '4. close': '879.8900', '5. volume': '24881146'}, '2022-03-01': {'1. open': '869.6800', '2. high': '889.8800', '3. low': '853.7800', '4. close': '864.3700', '5. volume': '24922287'}, '2022-02-28': {'1. open': '815.0100', '2. high': '876.8600', '3. low': '814.7075', '4. close': '870.4300', '5. volume': '33002289'}, '2022-02-25': {'1. open': '809.2300', '2. high': '819.5000', '3. low': '782.4005', '4. close': '809.8700', '5. volume': '25355921'}, '2022-02-24': {'1. open': '700.3900', '2. high': '802.4800', '3. low': '700.0000', '4. close': '800.7700', '5. volume': '45107425'}, '2022-02-23': {'1. open': '830.4300', '2. high': '835.2997', '3. low': '760.5600', '4. close': '764.0400', '5. volume': '31752336'}, '2022-02-22': {'1. open': '834.1300', '2. high': '856.7338', '3. low': '801.1001', '4. close': '821.5300', '5. volume': '27387874'}, '2022-02-18': {'1. open': '886.0000', '2. high': '886.8700', '3. low': '837.6100', '4. close': '856.9800', '5. volume': '22833947'}, '2022-02-17': {'1. open': '913.2600', '2. high': '918.4999', '3. low': '874.1000', '4. close': '876.3500', '5. volume': '18392806'}, '2022-02-16': {'1. open': '914.0500', '2. high': '926.4299', '3. low': '901.2100', '4. close': '923.3900', '5. volume': '17098132'}, '2022-02-15': {'1. open': '900.0000', '2. high': '923.0000', '3. low': '893.3774', '4. close': '922.4300', '5. volume': '19216514'}, '2022-02-14': {'1. open': '861.5700', '2. high': '898.8799', '3. low': '853.1500', '4. close': '875.7600', '5. volume': '22585472'}, '2022-02-11': {'1. open': '909.6300', '2. high': '915.9600', '3. low': '850.7000', '4. close': '860.0000', '5. volume': '26548623'}, '2022-02-10': {'1. open': '908.3700', '2. high': '943.8100', '3. low': '896.7000', '4. close': '904.5500', '5. volume': '22042277'}, '2022-02-09': {'1. open': '935.0000', '2. high': '946.2699', '3. low': '920.0000', '4. close': '932.0000', '5. volume': '17419848'}, '2022-02-08': {'1. open': '905.5300', '2. high': '926.2899', '3. low': '894.8000', '4. close': '922.0000', '5. volume': '16909671'}, '2022-02-07': {'1. open': '923.7900', '2. high': '947.7700', '3. low': '902.7089', '4. close': '907.3400', '5. volume': '20331488'}, '2022-02-04': {'1. open': '897.2200', '2. high': '936.5000', '3. low': '881.1700', '4. close': '923.3200', '5. volume': '24541822'}, '2022-02-03': {'1. open': '882.0000', '2. high': '937.0000', '3. low': '880.5200', '4. close': '891.1400', '5. volume': '26285186'}, '2022-02-02': {'1. open': '928.1800', '2. high': '931.5000', '3. low': '889.4100', '4. close': '905.6600', '5. volume': '22264345'}, '2022-02-01': {'1. open': '935.2100', '2. high': '943.7000', '3. low': '905.0000', '4. close': '931.2500', '5. volume': '24379446'}, '2022-01-31': {'1. open': '872.7100', '2. high': '937.9900', '3. low': '862.0500', '4. close': '936.7200', '5. volume': '34812032'}, '2022-01-28': {'1. open': '831.5600', '2. high': '857.5000', '3. low': '792.0100', '4. close': '846.3500', '5. volume': '44929650'}, '2022-01-27': {'1. open': '933.3600', '2. high': '935.3900', '3. low': '829.0000', '4. close': '829.1000', '5. volume': '49036523'}, '2022-01-26': {'1. open': '952.4300', '2. high': '987.6900', '3. low': '906.0000', '4. close': '937.4100', '5. volume': '34955761'}, '2022-01-25': {'1. open': '914.2000', '2. high': '951.2600', '3. low': '903.2100', '4. close': '918.4000', '5. volume': '28865302'}, '2022-01-24': {'1. open': '904.7600', '2. high': '933.5131', '3. low': '851.4700', '4. close': '930.0000', '5. volume': '50791714'}, '2022-01-21': {'1. open': '996.3400', '2. high': '1004.5500', '3. low': '940.5000', '4. close': '943.9000', '5. volume': '34472009'}, '2022-01-20': {'1. open': '1009.7300', '2. high': '1041.6600', '3. low': '994.0000', '4. close': '996.2700', '5. volume': '23496248'}, '2022-01-19': {'1. open': '1041.7050', '2. high': '1054.6699', '3. low': '995.0000', '4. close': '995.6500', '5. volume': '24870215'}, '2022-01-18': {'1. open': '1026.6050', '2. high': '1070.7899', '3. low': '1016.0600', '4. close': '1030.5100', '5. volume': '22158412'}, '2022-01-14': {'1. open': '1019.8800', '2. high': '1052.0000', '3. low': '1013.3788', '4. close': '1049.6100', '5. volume': '24308137'}, '2022-01-13': {'1. open': '1109.0650', '2. high': '1115.6000', '3. low': '1026.5391', '4. close': '1031.5600', '5. volume': '32403264'}, '2022-01-12': {'1. open': '1078.8500', '2. high': '1114.8400', '3. low': '1072.5901', '4. close': '1106.2200', '5. volume': '27913005'}, '2022-01-11': {'1. open': '1053.6700', '2. high': '1075.8500', '3. low': '1038.8200', '4. close': '1064.4000', '5. volume': '21593308'}, '2022-01-10': {'1. open': '1000.0000', '2. high': '1059.1000', '3. low': '980.0000', '4. close': '1058.1200', '5. volume': '30604959'}, '2022-01-07': {'1. open': '1080.3700', '2. high': '1080.9299', '3. low': '1010.0000', '4. close': '1026.9600', '5. volume': '28054916'}, '2022-01-06': {'1. open': '1077.0000', '2. high': '1088.0000', '3. low': '1020.5000', '4. close': '1064.7000', '5. volume': '30112158'}, '2022-01-05': {'1. open': '1146.6500', '2. high': '1170.3400', '3. low': '1081.0101', '4. close': '1088.1200', '5. volume': '26706599'}, '2022-01-04': {'1. open': '1189.5500', '2. high': '1208.0000', '3. low': '1123.0500', '4. close': '1149.5900', '5. volume': '33416086'}, '2022-01-03': {'1. open': '1147.7500', '2. high': '1201.0700', '3. low': '1136.0400', '4. close': '1199.7800', '5. volume': '34895349'}, '2021-12-31': {'1. open': '1073.4444', '2. high': '1081.9999', '3. low': '1054.5900', '4. close': '1056.7800', '5. volume': '13466216'}, '2021-12-30': {'1. open': '1061.3300', '2. high': '1095.5500', '3. low': '1053.1500', '4. close': '1070.3400', '5. volume': '15680313'}, '2021-12-29': {'1. open': '1098.6400', '2. high': '1104.0000', '3. low': '1064.1400', '4. close': '1086.1900', '5. volume': '18718015'}, '2021-12-28': {'1. open': '1109.4900', '2. high': '1118.9999', '3. low': '1078.4200', '4. close': '1088.4700', '5. volume': '20107969'}, '2021-12-27': {'1. open': '1073.6700', '2. high': '1117.0000', '3. low': '1070.7152', '4. close': '1093.9400', '5. volume': '23715273'}, '2021-12-23': {'1. open': '1006.8000', '2. high': '1072.9767', '3. low': '997.5600', '4. close': '1067.0000', '5. volume': '30904429'}, '2021-12-22': {'1. open': '965.6600', '2. high': '1015.6599', '3. low': '957.0500', '4. close': '1008.8700', '5. volume': '31211362'}, '2021-12-21': {'1. open': '916.8700', '2. high': '939.5000', '3. low': '886.1200', '4. close': '938.5300', '5. volume': '23839305'}, '2021-12-20': {'1. open': '910.7000', '2. high': '921.6884', '3. low': '893.3900', '4. close': '899.9400', '5. volume': '18826671'}, '2021-12-17': {'1. open': '914.7700', '2. high': '960.6599', '3. low': '909.0401', '4. close': '932.5700', '5. volume': '33626754'}, '2021-12-16': {'1. open': '994.5000', '2. high': '994.9800', '3. low': '921.8500', '4. close': '926.9200', '5. volume': '27590483'}, '2021-12-15': {'1. open': '953.2100', '2. high': '978.7499', '3. low': '928.2501', '4. close': '975.9900', '5. volume': '25056410'}, '2021-12-14': {'1. open': '945.0000', '2. high': '966.4100', '3. low': '930.0000', '4. close': '958.5100', '5. volume': '23602090'}, '2021-12-13': {'1. open': '1001.0900', '2. high': '1005.0000', '3. low': '951.4200', '4. close': '966.4100', '5. volume': '26198502'}, '2021-12-10': {'1. open': '1008.7500', '2. high': '1020.9797', '3. low': '982.5300', '4. close': '1017.0300', '5. volume': '19888122'}, '2021-12-09': {'1. open': '1060.6400', '2. high': '1062.4900', '3. low': '1002.3600', '4. close': '1003.8000', '5. volume': '19812832'}, '2021-12-08': {'1. open': '1052.7100', '2. high': '1072.3800', '3. low': '1033.0001', '4. close': '1068.9600', '5. volume': '13968790'}, '2021-12-07': {'1. open': '1044.2000', '2. high': '1057.6739', '3. low': '1026.8100', '4. close': '1051.7500', '5. volume': '18694857'}, '2021-12-06': {'1. open': '1001.5100', '2. high': '1021.6400', '3. low': '950.5000', '4. close': '1009.0100', '5. volume': '27221037'}, '2021-12-03': {'1. open': '1084.7900', '2. high': '1090.5753', '3. low': '1000.2100', '4. close': '1014.9700', '5. volume': '30773995'}, '2021-12-02': {'1. open': '1099.0600', '2. high': '1113.0000', '3. low': '1056.6500', '4. close': '1084.6000', '5. volume': '24371623'}, '2021-12-01': {'1. open': '1160.6950', '2. high': '1172.8399', '3. low': '1090.7600', '4. close': '1095.0000', '5. volume': '22934698'}, '2021-11-30': {'1. open': '1144.3700', '2. high': '1168.0000', '3. low': '1118.0000', '4. close': '1144.7600', '5. volume': '27092038'}, '2021-11-29': {'1. open': '1100.9900', '2. high': '1142.6700', '3. low': '1100.1900', '4. close': '1136.9900', '5. volume': '19464467'}, '2021-11-26': {'1. open': '1099.4700', '2. high': '1108.7827', '3. low': '1081.0000', '4. close': '1081.9200', '5. volume': '11680890'}}}

The type of this data is a dictionary.

In [119]:
type(data)

dict

so, how can we iterate through this dictionary to get what we need? We need to find all of the attributes with 'close' as the key.

In [195]:
#Exploring the methods and attributes

dir(data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In the previous code, one of the attributes is '_iter_' which is is a method that is called when an iterator is required for a container, and it should return a new iterator object that can iterate through all the objects in the container. 

For mappings (like dictionaries), .__iter__() should iterate over the keys. This means that if you put a dictionary directly into a for loop, Python will automatically call .__iter__() on that dictionary, and youâ€™ll get an iterator over its keys.

Source: https://realpython.com/iterate-through-dictionary-python/

In [203]:
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'TSLA',
  '3. Last Refreshed': '2022-04-20',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2022-04-20': {'1. open': '1030.0000',
   '2. high': '1034.0000',
   '3. low': '975.2501',
   '4. close': '977.2000',
   '5. volume': '21616141'},
  '2022-04-19': {'1. open': '1005.0600',
   '2. high': '1034.9400',
   '3. low': '995.3250',
   '4. close': '1028.1500',
   '5. volume': '16615944'},
  '2022-04-18': {'1. open': '989.0300',
   '2. high': '1014.9200',
   '3. low': '973.4100',
   '4. close': '1004.2900',
   '5. volume': '17238407'},
  '2022-04-14': {'1. open': '999.2900',
   '2. high': '1012.7099',
   '3. low': '982.1900',
   '4. close': '985.0000',
   '5. volume': '19474135'},
  '2022-04-13': {'1. open': '981.0750',
   '2. high': '1026.2400',
   '3. low': '973.0970',
   '4. close': '1022.3700',
   '5. volume': '18373737'},
  '2022-04-12': {'1. open': '997.6400',
   '2. high': '1021.1921',
   '3. low': '976.6001',
   '4. close': '986.9500',
   '5. volume': '21992032'},
  '2022-04-11': {'1. open': '980.4000',
   '2. high': '1008.4681',
   '3. low': '974.6400',
   '4. close': '975.9300',
   '5. volume': '19785735'},
  '2022-04-08': {'1. open': '1043.2100',
   '2. high': '1048.4400',
   '3. low': '1022.4350',
   '4. close': '1025.4900',
   '5. volume': '18337896'},
  '2022-04-07': {'1. open': '1052.3900',
   '2. high': '1076.5900',
   '3. low': '1021.5401',
   '4. close': '1057.2600',
   '5. volume': '26482353'},
  '2022-04-06': {'1. open': '1073.4700',
   '2. high': '1079.0000',
   '3. low': '1027.7000',
   '4. close': '1045.7600',
   '5. volume': '29782845'},
  '2022-04-05': {'1. open': '1136.3000',
   '2. high': '1152.8700',
   '3. low': '1087.3000',
   '4. close': '1091.2600',
   '5. volume': '26192187'},
  '2022-04-04': {'1. open': '1089.3800',
   '2. high': '1149.9100',
   '3. low': '1072.5300',
   '4. close': '1145.4500',
   '5. volume': '27392567'},
  '2022-04-01': {'1. open': '1081.1500',
   '2. high': '1094.7500',
   '3. low': '1066.6400',
   '4. close': '1084.5900',
   '5. volume': '18087741'},
  '2022-03-31': {'1. open': '1094.5700',
   '2. high': '1103.1399',
   '3. low': '1076.6410',
   '4. close': '1077.6000',
   '5. volume': '16330919'},
  '2022-03-30': {'1. open': '1091.1700',
   '2. high': '1113.9500',
   '3. low': '1084.0000',
   '4. close': '1093.9900',
   '5. volume': '19955002'},
  '2022-03-29': {'1. open': '1107.9900',
   '2. high': '1114.7700',
   '3. low': '1073.1100',
   '4. close': '1099.5700',
   '5. volume': '24538273'},
  '2022-03-28': {'1. open': '1065.1000',
   '2. high': '1097.8799',
   '3. low': '1053.6000',
   '4. close': '1091.8400',
   '5. volume': '34168693'},
  '2022-03-25': {'1. open': '1008.0000',
   '2. high': '1021.7999',
   '3. low': '997.3201',
   '4. close': '1010.6400',
   '5. volume': '20496893'},
  '2022-03-24': {'1. open': '1009.7300',
   '2. high': '1024.4900',
   '3. low': '988.8000',
   '4. close': '1013.9200',
   '5. volume': '22973626'},
  '2022-03-23': {'1. open': '979.9400',
   '2. high': '1040.7000',
   '3. low': '976.4000',
   '4. close': '999.1100',
   '5. volume': '40225383'},
  '2022-03-22': {'1. open': '930.0000',
   '2. high': '997.8600',
   '3. low': '921.7500',
   '4. close': '993.9800',
   '5. volume': '34882278'},
  '2022-03-21': {'1. open': '914.9800',
   '2. high': '942.8500',
   '3. low': '907.0900',
   '4. close': '921.1600',
   '5. volume': '26640958'},
  '2022-03-18': {'1. open': '874.4900',
   '2. high': '907.8500',
   '3. low': '867.3900',
   '4. close': '905.3900',
   '5. volume': '33443159'},
  '2022-03-17': {'1. open': '830.9900',
   '2. high': '875.0000',
   '3. low': '825.7178',
   '4. close': '871.6000',
   '5. volume': '22194324'},
  '2022-03-16': {'1. open': '809.0000',
   '2. high': '842.0000',
   '3. low': '802.2601',
   '4. close': '840.2300',
   '5. volume': '28009607'},
  '2022-03-15': {'1. open': '775.2700',
   '2. high': '805.5700',
   '3. low': '756.5700',
   '4. close': '801.8900',
   '5. volume': '22280381'},
  '2022-03-14': {'1. open': '780.6100',
   '2. high': '800.7000',
   '3. low': '756.0400',
   '4. close': '766.3700',
   '5. volume': '23717421'},
  '2022-03-11': {'1. open': '840.1970',
   '2. high': '843.8020',
   '3. low': '793.7700',
   '4. close': '795.3500',
   '5. volume': '22345722'},
  '2022-03-10': {'1. open': '851.4500',
   '2. high': '854.4500',
   '3. low': '810.3601',
   '4. close': '838.3000',
   '5. volume': '19549548'},
  '2022-03-09': {'1. open': '839.4800',
   '2. high': '860.5600',
   '3. low': '832.0100',
   '4. close': '858.9700',
   '5. volume': '19727993'},
  '2022-03-08': {'1. open': '795.5300',
   '2. high': '849.9900',
   '3. low': '782.1700',
   '4. close': '824.4000',
   '5. volume': '26799702'},
  '2022-03-07': {'1. open': '856.3000',
   '2. high': '866.1400',
   '3. low': '804.5700',
   '4. close': '804.5800',
   '5. volume': '24164724'},
  '2022-03-04': {'1. open': '849.1000',
   '2. high': '855.6500',
   '3. low': '825.1609',
   '4. close': '838.2900',
   '5. volume': '22393287'},
  '2022-03-03': {'1. open': '878.7700',
   '2. high': '886.4390',
   '3. low': '832.6001',
   '4. close': '839.2900',
   '5. volume': '20541169'},
  '2022-03-02': {'1. open': '872.1300',
   '2. high': '886.4800',
   '3. low': '844.2721',
   '4. close': '879.8900',
   '5. volume': '24881146'},
  '2022-03-01': {'1. open': '869.6800',
   '2. high': '889.8800',
   '3. low': '853.7800',
   '4. close': '864.3700',
   '5. volume': '24922287'},
  '2022-02-28': {'1. open': '815.0100',
   '2. high': '876.8600',
   '3. low': '814.7075',
   '4. close': '870.4300',
   '5. volume': '33002289'},
  '2022-02-25': {'1. open': '809.2300',
   '2. high': '819.5000',
   '3. low': '782.4005',
   '4. close': '809.8700',
   '5. volume': '25355921'},
  '2022-02-24': {'1. open': '700.3900',
   '2. high': '802.4800',
   '3. low': '700.0000',
   '4. close': '800.7700',
   '5. volume': '45107425'},
  '2022-02-23': {'1. open': '830.4300',
   '2. high': '835.2997',
   '3. low': '760.5600',
   '4. close': '764.0400',
   '5. volume': '31752336'},
  '2022-02-22': {'1. open': '834.1300',
   '2. high': '856.7338',
   '3. low': '801.1001',
   '4. close': '821.5300',
   '5. volume': '27387874'},
  '2022-02-18': {'1. open': '886.0000',
   '2. high': '886.8700',
   '3. low': '837.6100',
   '4. close': '856.9800',
   '5. volume': '22833947'},
  '2022-02-17': {'1. open': '913.2600',
   '2. high': '918.4999',
   '3. low': '874.1000',
   '4. close': '876.3500',
   '5. volume': '18392806'},
  '2022-02-16': {'1. open': '914.0500',
   '2. high': '926.4299',
   '3. low': '901.2100',
   '4. close': '923.3900',
   '5. volume': '17098132'},
  '2022-02-15': {'1. open': '900.0000',
   '2. high': '923.0000',
   '3. low': '893.3774',
   '4. close': '922.4300',
   '5. volume': '19216514'},
  '2022-02-14': {'1. open': '861.5700',
   '2. high': '898.8799',
   '3. low': '853.1500',
   '4. close': '875.7600',
   '5. volume': '22585472'},
  '2022-02-11': {'1. open': '909.6300',
   '2. high': '915.9600',
   '3. low': '850.7000',
   '4. close': '860.0000',
   '5. volume': '26548623'},
  '2022-02-10': {'1. open': '908.3700',
   '2. high': '943.8100',
   '3. low': '896.7000',
   '4. close': '904.5500',
   '5. volume': '22042277'},
  '2022-02-09': {'1. open': '935.0000',
   '2. high': '946.2699',
   '3. low': '920.0000',
   '4. close': '932.0000',
   '5. volume': '17419848'},
  '2022-02-08': {'1. open': '905.5300',
   '2. high': '926.2899',
   '3. low': '894.8000',
   '4. close': '922.0000',
   '5. volume': '16909671'},
  '2022-02-07': {'1. open': '923.7900',
   '2. high': '947.7700',
   '3. low': '902.7089',
   '4. close': '907.3400',
   '5. volume': '20331488'},
  '2022-02-04': {'1. open': '897.2200',
   '2. high': '936.5000',
   '3. low': '881.1700',
   '4. close': '923.3200',
   '5. volume': '24541822'},
  '2022-02-03': {'1. open': '882.0000',
   '2. high': '937.0000',
   '3. low': '880.5200',
   '4. close': '891.1400',
   '5. volume': '26285186'},
  '2022-02-02': {'1. open': '928.1800',
   '2. high': '931.5000',
   '3. low': '889.4100',
   '4. close': '905.6600',
   '5. volume': '22264345'},
  '2022-02-01': {'1. open': '935.2100',
   '2. high': '943.7000',
   '3. low': '905.0000',
   '4. close': '931.2500',
   '5. volume': '24379446'},
  '2022-01-31': {'1. open': '872.7100',
   '2. high': '937.9900',
   '3. low': '862.0500',
   '4. close': '936.7200',
   '5. volume': '34812032'},
  '2022-01-28': {'1. open': '831.5600',
   '2. high': '857.5000',
   '3. low': '792.0100',
   '4. close': '846.3500',
   '5. volume': '44929650'},
  '2022-01-27': {'1. open': '933.3600',
   '2. high': '935.3900',
   '3. low': '829.0000',
   '4. close': '829.1000',
   '5. volume': '49036523'},
  '2022-01-26': {'1. open': '952.4300',
   '2. high': '987.6900',
   '3. low': '906.0000',
   '4. close': '937.4100',
   '5. volume': '34955761'},
  '2022-01-25': {'1. open': '914.2000',
   '2. high': '951.2600',
   '3. low': '903.2100',
   '4. close': '918.4000',
   '5. volume': '28865302'},
  '2022-01-24': {'1. open': '904.7600',
   '2. high': '933.5131',
   '3. low': '851.4700',
   '4. close': '930.0000',
   '5. volume': '50791714'},
  '2022-01-21': {'1. open': '996.3400',
   '2. high': '1004.5500',
   '3. low': '940.5000',
   '4. close': '943.9000',
   '5. volume': '34472009'},
  '2022-01-20': {'1. open': '1009.7300',
   '2. high': '1041.6600',
   '3. low': '994.0000',
   '4. close': '996.2700',
   '5. volume': '23496248'},
  '2022-01-19': {'1. open': '1041.7050',
   '2. high': '1054.6699',
   '3. low': '995.0000',
   '4. close': '995.6500',
   '5. volume': '24870215'},
  '2022-01-18': {'1. open': '1026.6050',
   '2. high': '1070.7899',
   '3. low': '1016.0600',
   '4. close': '1030.5100',
   '5. volume': '22158412'},
  '2022-01-14': {'1. open': '1019.8800',
   '2. high': '1052.0000',
   '3. low': '1013.3788',
   '4. close': '1049.6100',
   '5. volume': '24308137'},
  '2022-01-13': {'1. open': '1109.0650',
   '2. high': '1115.6000',
   '3. low': '1026.5391',
   '4. close': '1031.5600',
   '5. volume': '32403264'},
  '2022-01-12': {'1. open': '1078.8500',
   '2. high': '1114.8400',
   '3. low': '1072.5901',
   '4. close': '1106.2200',
   '5. volume': '27913005'},
  '2022-01-11': {'1. open': '1053.6700',
   '2. high': '1075.8500',
   '3. low': '1038.8200',
   '4. close': '1064.4000',
   '5. volume': '21593308'},
  '2022-01-10': {'1. open': '1000.0000',
   '2. high': '1059.1000',
   '3. low': '980.0000',
   '4. close': '1058.1200',
   '5. volume': '30604959'},
  '2022-01-07': {'1. open': '1080.3700',
   '2. high': '1080.9299',
   '3. low': '1010.0000',
   '4. close': '1026.9600',
   '5. volume': '28054916'},
  '2022-01-06': {'1. open': '1077.0000',
   '2. high': '1088.0000',
   '3. low': '1020.5000',
   '4. close': '1064.7000',
   '5. volume': '30112158'},
  '2022-01-05': {'1. open': '1146.6500',
   '2. high': '1170.3400',
   '3. low': '1081.0101',
   '4. close': '1088.1200',
   '5. volume': '26706599'},
  '2022-01-04': {'1. open': '1189.5500',
   '2. high': '1208.0000',
   '3. low': '1123.0500',
   '4. close': '1149.5900',
   '5. volume': '33416086'},
  '2022-01-03': {'1. open': '1147.7500',
   '2. high': '1201.0700',
   '3. low': '1136.0400',
   '4. close': '1199.7800',
   '5. volume': '34895349'},
  '2021-12-31': {'1. open': '1073.4444',
   '2. high': '1081.9999',
   '3. low': '1054.5900',
   '4. close': '1056.7800',
   '5. volume': '13466216'},
  '2021-12-30': {'1. open': '1061.3300',
   '2. high': '1095.5500',
   '3. low': '1053.1500',
   '4. close': '1070.3400',
   '5. volume': '15680313'},
  '2021-12-29': {'1. open': '1098.6400',
   '2. high': '1104.0000',
   '3. low': '1064.1400',
   '4. close': '1086.1900',
   '5. volume': '18718015'},
  '2021-12-28': {'1. open': '1109.4900',
   '2. high': '1118.9999',
   '3. low': '1078.4200',
   '4. close': '1088.4700',
   '5. volume': '20107969'},
  '2021-12-27': {'1. open': '1073.6700',
   '2. high': '1117.0000',
   '3. low': '1070.7152',
   '4. close': '1093.9400',
   '5. volume': '23715273'},
  '2021-12-23': {'1. open': '1006.8000',
   '2. high': '1072.9767',
   '3. low': '997.5600',
   '4. close': '1067.0000',
   '5. volume': '30904429'},
  '2021-12-22': {'1. open': '965.6600',
   '2. high': '1015.6599',
   '3. low': '957.0500',
   '4. close': '1008.8700',
   '5. volume': '31211362'},
  '2021-12-21': {'1. open': '916.8700',
   '2. high': '939.5000',
   '3. low': '886.1200',
   '4. close': '938.5300',
   '5. volume': '23839305'},
  '2021-12-20': {'1. open': '910.7000',
   '2. high': '921.6884',
   '3. low': '893.3900',
   '4. close': '899.9400',
   '5. volume': '18826671'},
  '2021-12-17': {'1. open': '914.7700',
   '2. high': '960.6599',
   '3. low': '909.0401',
   '4. close': '932.5700',
   '5. volume': '33626754'},
  '2021-12-16': {'1. open': '994.5000',
   '2. high': '994.9800',
   '3. low': '921.8500',
   '4. close': '926.9200',
   '5. volume': '27590483'},
  '2021-12-15': {'1. open': '953.2100',
   '2. high': '978.7499',
   '3. low': '928.2501',
   '4. close': '975.9900',
   '5. volume': '25056410'},
  '2021-12-14': {'1. open': '945.0000',
   '2. high': '966.4100',
   '3. low': '930.0000',
   '4. close': '958.5100',
   '5. volume': '23602090'},
  '2021-12-13': {'1. open': '1001.0900',
   '2. high': '1005.0000',
   '3. low': '951.4200',
   '4. close': '966.4100',
   '5. volume': '26198502'},
  '2021-12-10': {'1. open': '1008.7500',
   '2. high': '1020.9797',
   '3. low': '982.5300',
   '4. close': '1017.0300',
   '5. volume': '19888122'},
  '2021-12-09': {'1. open': '1060.6400',
   '2. high': '1062.4900',
   '3. low': '1002.3600',
   '4. close': '1003.8000',
   '5. volume': '19812832'},
  '2021-12-08': {'1. open': '1052.7100',
   '2. high': '1072.3800',
   '3. low': '1033.0001',
   '4. close': '1068.9600',
   '5. volume': '13968790'},
  '2021-12-07': {'1. open': '1044.2000',
   '2. high': '1057.6739',
   '3. low': '1026.8100',
   '4. close': '1051.7500',
   '5. volume': '18694857'},
  '2021-12-06': {'1. open': '1001.5100',
   '2. high': '1021.6400',
   '3. low': '950.5000',
   '4. close': '1009.0100',
   '5. volume': '27221037'},
  '2021-12-03': {'1. open': '1084.7900',
   '2. high': '1090.5753',
   '3. low': '1000.2100',
   '4. close': '1014.9700',
   '5. volume': '30773995'},
  '2021-12-02': {'1. open': '1099.0600',
   '2. high': '1113.0000',
   '3. low': '1056.6500',
   '4. close': '1084.6000',
   '5. volume': '24371623'},
  '2021-12-01': {'1. open': '1160.6950',
   '2. high': '1172.8399',
   '3. low': '1090.7600',
   '4. close': '1095.0000',
   '5. volume': '22934698'},
  '2021-11-30': {'1. open': '1144.3700',
   '2. high': '1168.0000',
   '3. low': '1118.0000',
   '4. close': '1144.7600',
   '5. volume': '27092038'},
  '2021-11-29': {'1. open': '1100.9900',
   '2. high': '1142.6700',
   '3. low': '1100.1900',
   '4. close': '1136.9900',
   '5. volume': '19464467'},
  '2021-11-26': {'1. open': '1099.4700',
   '2. high': '1108.7827',
   '3. low': '1081.0000',
   '4. close': '1081.9200',
   '5. volume': '11680890'}}}

### Now we can get the dates from the dictionary.

In [241]:
data = data['Time Series (Daily)']

In [245]:
dates = data.keys()

In [246]:
dates

dict_keys(['2022-04-20', '2022-04-19', '2022-04-18', '2022-04-14', '2022-04-13', '2022-04-12', '2022-04-11', '2022-04-08', '2022-04-07', '2022-04-06', '2022-04-05', '2022-04-04', '2022-04-01', '2022-03-31', '2022-03-30', '2022-03-29', '2022-03-28', '2022-03-25', '2022-03-24', '2022-03-23', '2022-03-22', '2022-03-21', '2022-03-18', '2022-03-17', '2022-03-16', '2022-03-15', '2022-03-14', '2022-03-11', '2022-03-10', '2022-03-09', '2022-03-08', '2022-03-07', '2022-03-04', '2022-03-03', '2022-03-02', '2022-03-01', '2022-02-28', '2022-02-25', '2022-02-24', '2022-02-23', '2022-02-22', '2022-02-18', '2022-02-17', '2022-02-16', '2022-02-15', '2022-02-14', '2022-02-11', '2022-02-10', '2022-02-09', '2022-02-08', '2022-02-07', '2022-02-04', '2022-02-03', '2022-02-02', '2022-02-01', '2022-01-31', '2022-01-28', '2022-01-27', '2022-01-26', '2022-01-25', '2022-01-24', '2022-01-21', '2022-01-20', '2022-01-19', '2022-01-18', '2022-01-14', '2022-01-13', '2022-01-12', '2022-01-11', '2022-01-10', '2022-01-07', '2022-01-06', '2022-01-05', '2022-01-04', '2022-01-03', '2021-12-31', '2021-12-30', '2021-12-29', '2021-12-28', '2021-12-27', '2021-12-23', '2021-12-22', '2021-12-21', '2021-12-20', '2021-12-17', '2021-12-16', '2021-12-15', '2021-12-14', '2021-12-13', '2021-12-10', '2021-12-09', '2021-12-08', '2021-12-07', '2021-12-06', '2021-12-03', '2021-12-02', '2021-12-01', '2021-11-30', '2021-11-29', '2021-11-26'])

In [248]:
data

{'2022-04-20': {'1. open': '1030.0000',
  '2. high': '1034.0000',
  '3. low': '975.2501',
  '4. close': '977.2000',
  '5. volume': '21616141'},
 '2022-04-19': {'1. open': '1005.0600',
  '2. high': '1034.9400',
  '3. low': '995.3250',
  '4. close': '1028.1500',
  '5. volume': '16615944'},
 '2022-04-18': {'1. open': '989.0300',
  '2. high': '1014.9200',
  '3. low': '973.4100',
  '4. close': '1004.2900',
  '5. volume': '17238407'},
 '2022-04-14': {'1. open': '999.2900',
  '2. high': '1012.7099',
  '3. low': '982.1900',
  '4. close': '985.0000',
  '5. volume': '19474135'},
 '2022-04-13': {'1. open': '981.0750',
  '2. high': '1026.2400',
  '3. low': '973.0970',
  '4. close': '1022.3700',
  '5. volume': '18373737'},
 '2022-04-12': {'1. open': '997.6400',
  '2. high': '1021.1921',
  '3. low': '976.6001',
  '4. close': '986.9500',
  '5. volume': '21992032'},
 '2022-04-11': {'1. open': '980.4000',
  '2. high': '1008.4681',
  '3. low': '974.6400',
  '4. close': '975.9300',
  '5. volume': '19785735'},
 '2022-04-08': {'1. open': '1043.2100',
  '2. high': '1048.4400',
  '3. low': '1022.4350',
  '4. close': '1025.4900',
  '5. volume': '18337896'},
 '2022-04-07': {'1. open': '1052.3900',
  '2. high': '1076.5900',
  '3. low': '1021.5401',
  '4. close': '1057.2600',
  '5. volume': '26482353'},
 '2022-04-06': {'1. open': '1073.4700',
  '2. high': '1079.0000',
  '3. low': '1027.7000',
  '4. close': '1045.7600',
  '5. volume': '29782845'},
 '2022-04-05': {'1. open': '1136.3000',
  '2. high': '1152.8700',
  '3. low': '1087.3000',
  '4. close': '1091.2600',
  '5. volume': '26192187'},
 '2022-04-04': {'1. open': '1089.3800',
  '2. high': '1149.9100',
  '3. low': '1072.5300',
  '4. close': '1145.4500',
  '5. volume': '27392567'},
 '2022-04-01': {'1. open': '1081.1500',
  '2. high': '1094.7500',
  '3. low': '1066.6400',
  '4. close': '1084.5900',
  '5. volume': '18087741'},
 '2022-03-31': {'1. open': '1094.5700',
  '2. high': '1103.1399',
  '3. low': '1076.6410',
  '4. close': '1077.6000',
  '5. volume': '16330919'},
 '2022-03-30': {'1. open': '1091.1700',
  '2. high': '1113.9500',
  '3. low': '1084.0000',
  '4. close': '1093.9900',
  '5. volume': '19955002'},
 '2022-03-29': {'1. open': '1107.9900',
  '2. high': '1114.7700',
  '3. low': '1073.1100',
  '4. close': '1099.5700',
  '5. volume': '24538273'},
 '2022-03-28': {'1. open': '1065.1000',
  '2. high': '1097.8799',
  '3. low': '1053.6000',
  '4. close': '1091.8400',
  '5. volume': '34168693'},
 '2022-03-25': {'1. open': '1008.0000',
  '2. high': '1021.7999',
  '3. low': '997.3201',
  '4. close': '1010.6400',
  '5. volume': '20496893'},
 '2022-03-24': {'1. open': '1009.7300',
  '2. high': '1024.4900',
  '3. low': '988.8000',
  '4. close': '1013.9200',
  '5. volume': '22973626'},
 '2022-03-23': {'1. open': '979.9400',
  '2. high': '1040.7000',
  '3. low': '976.4000',
  '4. close': '999.1100',
  '5. volume': '40225383'},
 '2022-03-22': {'1. open': '930.0000',
  '2. high': '997.8600',
  '3. low': '921.7500',
  '4. close': '993.9800',
  '5. volume': '34882278'},
 '2022-03-21': {'1. open': '914.9800',
  '2. high': '942.8500',
  '3. low': '907.0900',
  '4. close': '921.1600',
  '5. volume': '26640958'},
 '2022-03-18': {'1. open': '874.4900',
  '2. high': '907.8500',
  '3. low': '867.3900',
  '4. close': '905.3900',
  '5. volume': '33443159'},
 '2022-03-17': {'1. open': '830.9900',
  '2. high': '875.0000',
  '3. low': '825.7178',
  '4. close': '871.6000',
  '5. volume': '22194324'},
 '2022-03-16': {'1. open': '809.0000',
  '2. high': '842.0000',
  '3. low': '802.2601',
  '4. close': '840.2300',
  '5. volume': '28009607'},
 '2022-03-15': {'1. open': '775.2700',
  '2. high': '805.5700',
  '3. low': '756.5700',
  '4. close': '801.8900',
  '5. volume': '22280381'},
 '2022-03-14': {'1. open': '780.6100',
  '2. high': '800.7000',
  '3. low': '756.0400',
  '4. close': '766.3700',
  '5. volume': '23717421'},
 '2022-03-11': {'1. open': '840.1970',
  '2. high': '843.8020',
  '3. low': '793.7700',
  '4. close': '795.3500',
  '5. volume': '22345722'},
 '2022-03-10': {'1. open': '851.4500',
  '2. high': '854.4500',
  '3. low': '810.3601',
  '4. close': '838.3000',
  '5. volume': '19549548'},
 '2022-03-09': {'1. open': '839.4800',
  '2. high': '860.5600',
  '3. low': '832.0100',
  '4. close': '858.9700',
  '5. volume': '19727993'},
 '2022-03-08': {'1. open': '795.5300',
  '2. high': '849.9900',
  '3. low': '782.1700',
  '4. close': '824.4000',
  '5. volume': '26799702'},
 '2022-03-07': {'1. open': '856.3000',
  '2. high': '866.1400',
  '3. low': '804.5700',
  '4. close': '804.5800',
  '5. volume': '24164724'},
 '2022-03-04': {'1. open': '849.1000',
  '2. high': '855.6500',
  '3. low': '825.1609',
  '4. close': '838.2900',
  '5. volume': '22393287'},
 '2022-03-03': {'1. open': '878.7700',
  '2. high': '886.4390',
  '3. low': '832.6001',
  '4. close': '839.2900',
  '5. volume': '20541169'},
 '2022-03-02': {'1. open': '872.1300',
  '2. high': '886.4800',
  '3. low': '844.2721',
  '4. close': '879.8900',
  '5. volume': '24881146'},
 '2022-03-01': {'1. open': '869.6800',
  '2. high': '889.8800',
  '3. low': '853.7800',
  '4. close': '864.3700',
  '5. volume': '24922287'},
 '2022-02-28': {'1. open': '815.0100',
  '2. high': '876.8600',
  '3. low': '814.7075',
  '4. close': '870.4300',
  '5. volume': '33002289'},
 '2022-02-25': {'1. open': '809.2300',
  '2. high': '819.5000',
  '3. low': '782.4005',
  '4. close': '809.8700',
  '5. volume': '25355921'},
 '2022-02-24': {'1. open': '700.3900',
  '2. high': '802.4800',
  '3. low': '700.0000',
  '4. close': '800.7700',
  '5. volume': '45107425'},
 '2022-02-23': {'1. open': '830.4300',
  '2. high': '835.2997',
  '3. low': '760.5600',
  '4. close': '764.0400',
  '5. volume': '31752336'},
 '2022-02-22': {'1. open': '834.1300',
  '2. high': '856.7338',
  '3. low': '801.1001',
  '4. close': '821.5300',
  '5. volume': '27387874'},
 '2022-02-18': {'1. open': '886.0000',
  '2. high': '886.8700',
  '3. low': '837.6100',
  '4. close': '856.9800',
  '5. volume': '22833947'},
 '2022-02-17': {'1. open': '913.2600',
  '2. high': '918.4999',
  '3. low': '874.1000',
  '4. close': '876.3500',
  '5. volume': '18392806'},
 '2022-02-16': {'1. open': '914.0500',
  '2. high': '926.4299',
  '3. low': '901.2100',
  '4. close': '923.3900',
  '5. volume': '17098132'},
 '2022-02-15': {'1. open': '900.0000',
  '2. high': '923.0000',
  '3. low': '893.3774',
  '4. close': '922.4300',
  '5. volume': '19216514'},
 '2022-02-14': {'1. open': '861.5700',
  '2. high': '898.8799',
  '3. low': '853.1500',
  '4. close': '875.7600',
  '5. volume': '22585472'},
 '2022-02-11': {'1. open': '909.6300',
  '2. high': '915.9600',
  '3. low': '850.7000',
  '4. close': '860.0000',
  '5. volume': '26548623'},
 '2022-02-10': {'1. open': '908.3700',
  '2. high': '943.8100',
  '3. low': '896.7000',
  '4. close': '904.5500',
  '5. volume': '22042277'},
 '2022-02-09': {'1. open': '935.0000',
  '2. high': '946.2699',
  '3. low': '920.0000',
  '4. close': '932.0000',
  '5. volume': '17419848'},
 '2022-02-08': {'1. open': '905.5300',
  '2. high': '926.2899',
  '3. low': '894.8000',
  '4. close': '922.0000',
  '5. volume': '16909671'},
 '2022-02-07': {'1. open': '923.7900',
  '2. high': '947.7700',
  '3. low': '902.7089',
  '4. close': '907.3400',
  '5. volume': '20331488'},
 '2022-02-04': {'1. open': '897.2200',
  '2. high': '936.5000',
  '3. low': '881.1700',
  '4. close': '923.3200',
  '5. volume': '24541822'},
 '2022-02-03': {'1. open': '882.0000',
  '2. high': '937.0000',
  '3. low': '880.5200',
  '4. close': '891.1400',
  '5. volume': '26285186'},
 '2022-02-02': {'1. open': '928.1800',
  '2. high': '931.5000',
  '3. low': '889.4100',
  '4. close': '905.6600',
  '5. volume': '22264345'},
 '2022-02-01': {'1. open': '935.2100',
  '2. high': '943.7000',
  '3. low': '905.0000',
  '4. close': '931.2500',
  '5. volume': '24379446'},
 '2022-01-31': {'1. open': '872.7100',
  '2. high': '937.9900',
  '3. low': '862.0500',
  '4. close': '936.7200',
  '5. volume': '34812032'},
 '2022-01-28': {'1. open': '831.5600',
  '2. high': '857.5000',
  '3. low': '792.0100',
  '4. close': '846.3500',
  '5. volume': '44929650'},
 '2022-01-27': {'1. open': '933.3600',
  '2. high': '935.3900',
  '3. low': '829.0000',
  '4. close': '829.1000',
  '5. volume': '49036523'},
 '2022-01-26': {'1. open': '952.4300',
  '2. high': '987.6900',
  '3. low': '906.0000',
  '4. close': '937.4100',
  '5. volume': '34955761'},
 '2022-01-25': {'1. open': '914.2000',
  '2. high': '951.2600',
  '3. low': '903.2100',
  '4. close': '918.4000',
  '5. volume': '28865302'},
 '2022-01-24': {'1. open': '904.7600',
  '2. high': '933.5131',
  '3. low': '851.4700',
  '4. close': '930.0000',
  '5. volume': '50791714'},
 '2022-01-21': {'1. open': '996.3400',
  '2. high': '1004.5500',
  '3. low': '940.5000',
  '4. close': '943.9000',
  '5. volume': '34472009'},
 '2022-01-20': {'1. open': '1009.7300',
  '2. high': '1041.6600',
  '3. low': '994.0000',
  '4. close': '996.2700',
  '5. volume': '23496248'},
 '2022-01-19': {'1. open': '1041.7050',
  '2. high': '1054.6699',
  '3. low': '995.0000',
  '4. close': '995.6500',
  '5. volume': '24870215'},
 '2022-01-18': {'1. open': '1026.6050',
  '2. high': '1070.7899',
  '3. low': '1016.0600',
  '4. close': '1030.5100',
  '5. volume': '22158412'},
 '2022-01-14': {'1. open': '1019.8800',
  '2. high': '1052.0000',
  '3. low': '1013.3788',
  '4. close': '1049.6100',
  '5. volume': '24308137'},
 '2022-01-13': {'1. open': '1109.0650',
  '2. high': '1115.6000',
  '3. low': '1026.5391',
  '4. close': '1031.5600',
  '5. volume': '32403264'},
 '2022-01-12': {'1. open': '1078.8500',
  '2. high': '1114.8400',
  '3. low': '1072.5901',
  '4. close': '1106.2200',
  '5. volume': '27913005'},
 '2022-01-11': {'1. open': '1053.6700',
  '2. high': '1075.8500',
  '3. low': '1038.8200',
  '4. close': '1064.4000',
  '5. volume': '21593308'},
 '2022-01-10': {'1. open': '1000.0000',
  '2. high': '1059.1000',
  '3. low': '980.0000',
  '4. close': '1058.1200',
  '5. volume': '30604959'},
 '2022-01-07': {'1. open': '1080.3700',
  '2. high': '1080.9299',
  '3. low': '1010.0000',
  '4. close': '1026.9600',
  '5. volume': '28054916'},
 '2022-01-06': {'1. open': '1077.0000',
  '2. high': '1088.0000',
  '3. low': '1020.5000',
  '4. close': '1064.7000',
  '5. volume': '30112158'},
 '2022-01-05': {'1. open': '1146.6500',
  '2. high': '1170.3400',
  '3. low': '1081.0101',
  '4. close': '1088.1200',
  '5. volume': '26706599'},
 '2022-01-04': {'1. open': '1189.5500',
  '2. high': '1208.0000',
  '3. low': '1123.0500',
  '4. close': '1149.5900',
  '5. volume': '33416086'},
 '2022-01-03': {'1. open': '1147.7500',
  '2. high': '1201.0700',
  '3. low': '1136.0400',
  '4. close': '1199.7800',
  '5. volume': '34895349'},
 '2021-12-31': {'1. open': '1073.4444',
  '2. high': '1081.9999',
  '3. low': '1054.5900',
  '4. close': '1056.7800',
  '5. volume': '13466216'},
 '2021-12-30': {'1. open': '1061.3300',
  '2. high': '1095.5500',
  '3. low': '1053.1500',
  '4. close': '1070.3400',
  '5. volume': '15680313'},
 '2021-12-29': {'1. open': '1098.6400',
  '2. high': '1104.0000',
  '3. low': '1064.1400',
  '4. close': '1086.1900',
  '5. volume': '18718015'},
 '2021-12-28': {'1. open': '1109.4900',
  '2. high': '1118.9999',
  '3. low': '1078.4200',
  '4. close': '1088.4700',
  '5. volume': '20107969'},
 '2021-12-27': {'1. open': '1073.6700',
  '2. high': '1117.0000',
  '3. low': '1070.7152',
  '4. close': '1093.9400',
  '5. volume': '23715273'},
 '2021-12-23': {'1. open': '1006.8000',
  '2. high': '1072.9767',
  '3. low': '997.5600',
  '4. close': '1067.0000',
  '5. volume': '30904429'},
 '2021-12-22': {'1. open': '965.6600',
  '2. high': '1015.6599',
  '3. low': '957.0500',
  '4. close': '1008.8700',
  '5. volume': '31211362'},
 '2021-12-21': {'1. open': '916.8700',
  '2. high': '939.5000',
  '3. low': '886.1200',
  '4. close': '938.5300',
  '5. volume': '23839305'},
 '2021-12-20': {'1. open': '910.7000',
  '2. high': '921.6884',
  '3. low': '893.3900',
  '4. close': '899.9400',
  '5. volume': '18826671'},
 '2021-12-17': {'1. open': '914.7700',
  '2. high': '960.6599',
  '3. low': '909.0401',
  '4. close': '932.5700',
  '5. volume': '33626754'},
 '2021-12-16': {'1. open': '994.5000',
  '2. high': '994.9800',
  '3. low': '921.8500',
  '4. close': '926.9200',
  '5. volume': '27590483'},
 '2021-12-15': {'1. open': '953.2100',
  '2. high': '978.7499',
  '3. low': '928.2501',
  '4. close': '975.9900',
  '5. volume': '25056410'},
 '2021-12-14': {'1. open': '945.0000',
  '2. high': '966.4100',
  '3. low': '930.0000',
  '4. close': '958.5100',
  '5. volume': '23602090'},
 '2021-12-13': {'1. open': '1001.0900',
  '2. high': '1005.0000',
  '3. low': '951.4200',
  '4. close': '966.4100',
  '5. volume': '26198502'},
 '2021-12-10': {'1. open': '1008.7500',
  '2. high': '1020.9797',
  '3. low': '982.5300',
  '4. close': '1017.0300',
  '5. volume': '19888122'},
 '2021-12-09': {'1. open': '1060.6400',
  '2. high': '1062.4900',
  '3. low': '1002.3600',
  '4. close': '1003.8000',
  '5. volume': '19812832'},
 '2021-12-08': {'1. open': '1052.7100',
  '2. high': '1072.3800',
  '3. low': '1033.0001',
  '4. close': '1068.9600',
  '5. volume': '13968790'},
 '2021-12-07': {'1. open': '1044.2000',
  '2. high': '1057.6739',
  '3. low': '1026.8100',
  '4. close': '1051.7500',
  '5. volume': '18694857'},
 '2021-12-06': {'1. open': '1001.5100',
  '2. high': '1021.6400',
  '3. low': '950.5000',
  '4. close': '1009.0100',
  '5. volume': '27221037'},
 '2021-12-03': {'1. open': '1084.7900',
  '2. high': '1090.5753',
  '3. low': '1000.2100',
  '4. close': '1014.9700',
  '5. volume': '30773995'},
 '2021-12-02': {'1. open': '1099.0600',
  '2. high': '1113.0000',
  '3. low': '1056.6500',
  '4. close': '1084.6000',
  '5. volume': '24371623'},
 '2021-12-01': {'1. open': '1160.6950',
  '2. high': '1172.8399',
  '3. low': '1090.7600',
  '4. close': '1095.0000',
  '5. volume': '22934698'},
 '2021-11-30': {'1. open': '1144.3700',
  '2. high': '1168.0000',
  '3. low': '1118.0000',
  '4. close': '1144.7600',
  '5. volume': '27092038'},
 '2021-11-29': {'1. open': '1100.9900',
  '2. high': '1142.6700',
  '3. low': '1100.1900',
  '4. close': '1136.9900',
  '5. volume': '19464467'},
 '2021-11-26': {'1. open': '1099.4700',
  '2. high': '1108.7827',
  '3. low': '1081.0000',
  '4. close': '1081.9200',
  '5. volume': '11680890'}}

### Now we have to figure out how to pull out the closing stock prices from the data

In [253]:
data

{'2022-04-20': {'1. open': '1030.0000',
  '2. high': '1034.0000',
  '3. low': '975.2501',
  '4. close': '977.2000',
  '5. volume': '21616141'},
 '2022-04-19': {'1. open': '1005.0600',
  '2. high': '1034.9400',
  '3. low': '995.3250',
  '4. close': '1028.1500',
  '5. volume': '16615944'},
 '2022-04-18': {'1. open': '989.0300',
  '2. high': '1014.9200',
  '3. low': '973.4100',
  '4. close': '1004.2900',
  '5. volume': '17238407'},
 '2022-04-14': {'1. open': '999.2900',
  '2. high': '1012.7099',
  '3. low': '982.1900',
  '4. close': '985.0000',
  '5. volume': '19474135'},
 '2022-04-13': {'1. open': '981.0750',
  '2. high': '1026.2400',
  '3. low': '973.0970',
  '4. close': '1022.3700',
  '5. volume': '18373737'},
 '2022-04-12': {'1. open': '997.6400',
  '2. high': '1021.1921',
  '3. low': '976.6001',
  '4. close': '986.9500',
  '5. volume': '21992032'},
 '2022-04-11': {'1. open': '980.4000',
  '2. high': '1008.4681',
  '3. low': '974.6400',
  '4. close': '975.9300',
  '5. volume': '19785735'},
 '2022-04-08': {'1. open': '1043.2100',
  '2. high': '1048.4400',
  '3. low': '1022.4350',
  '4. close': '1025.4900',
  '5. volume': '18337896'},
 '2022-04-07': {'1. open': '1052.3900',
  '2. high': '1076.5900',
  '3. low': '1021.5401',
  '4. close': '1057.2600',
  '5. volume': '26482353'},
 '2022-04-06': {'1. open': '1073.4700',
  '2. high': '1079.0000',
  '3. low': '1027.7000',
  '4. close': '1045.7600',
  '5. volume': '29782845'},
 '2022-04-05': {'1. open': '1136.3000',
  '2. high': '1152.8700',
  '3. low': '1087.3000',
  '4. close': '1091.2600',
  '5. volume': '26192187'},
 '2022-04-04': {'1. open': '1089.3800',
  '2. high': '1149.9100',
  '3. low': '1072.5300',
  '4. close': '1145.4500',
  '5. volume': '27392567'},
 '2022-04-01': {'1. open': '1081.1500',
  '2. high': '1094.7500',
  '3. low': '1066.6400',
  '4. close': '1084.5900',
  '5. volume': '18087741'},
 '2022-03-31': {'1. open': '1094.5700',
  '2. high': '1103.1399',
  '3. low': '1076.6410',
  '4. close': '1077.6000',
  '5. volume': '16330919'},
 '2022-03-30': {'1. open': '1091.1700',
  '2. high': '1113.9500',
  '3. low': '1084.0000',
  '4. close': '1093.9900',
  '5. volume': '19955002'},
 '2022-03-29': {'1. open': '1107.9900',
  '2. high': '1114.7700',
  '3. low': '1073.1100',
  '4. close': '1099.5700',
  '5. volume': '24538273'},
 '2022-03-28': {'1. open': '1065.1000',
  '2. high': '1097.8799',
  '3. low': '1053.6000',
  '4. close': '1091.8400',
  '5. volume': '34168693'},
 '2022-03-25': {'1. open': '1008.0000',
  '2. high': '1021.7999',
  '3. low': '997.3201',
  '4. close': '1010.6400',
  '5. volume': '20496893'},
 '2022-03-24': {'1. open': '1009.7300',
  '2. high': '1024.4900',
  '3. low': '988.8000',
  '4. close': '1013.9200',
  '5. volume': '22973626'},
 '2022-03-23': {'1. open': '979.9400',
  '2. high': '1040.7000',
  '3. low': '976.4000',
  '4. close': '999.1100',
  '5. volume': '40225383'},
 '2022-03-22': {'1. open': '930.0000',
  '2. high': '997.8600',
  '3. low': '921.7500',
  '4. close': '993.9800',
  '5. volume': '34882278'},
 '2022-03-21': {'1. open': '914.9800',
  '2. high': '942.8500',
  '3. low': '907.0900',
  '4. close': '921.1600',
  '5. volume': '26640958'},
 '2022-03-18': {'1. open': '874.4900',
  '2. high': '907.8500',
  '3. low': '867.3900',
  '4. close': '905.3900',
  '5. volume': '33443159'},
 '2022-03-17': {'1. open': '830.9900',
  '2. high': '875.0000',
  '3. low': '825.7178',
  '4. close': '871.6000',
  '5. volume': '22194324'},
 '2022-03-16': {'1. open': '809.0000',
  '2. high': '842.0000',
  '3. low': '802.2601',
  '4. close': '840.2300',
  '5. volume': '28009607'},
 '2022-03-15': {'1. open': '775.2700',
  '2. high': '805.5700',
  '3. low': '756.5700',
  '4. close': '801.8900',
  '5. volume': '22280381'},
 '2022-03-14': {'1. open': '780.6100',
  '2. high': '800.7000',
  '3. low': '756.0400',
  '4. close': '766.3700',
  '5. volume': '23717421'},
 '2022-03-11': {'1. open': '840.1970',
  '2. high': '843.8020',
  '3. low': '793.7700',
  '4. close': '795.3500',
  '5. volume': '22345722'},
 '2022-03-10': {'1. open': '851.4500',
  '2. high': '854.4500',
  '3. low': '810.3601',
  '4. close': '838.3000',
  '5. volume': '19549548'},
 '2022-03-09': {'1. open': '839.4800',
  '2. high': '860.5600',
  '3. low': '832.0100',
  '4. close': '858.9700',
  '5. volume': '19727993'},
 '2022-03-08': {'1. open': '795.5300',
  '2. high': '849.9900',
  '3. low': '782.1700',
  '4. close': '824.4000',
  '5. volume': '26799702'},
 '2022-03-07': {'1. open': '856.3000',
  '2. high': '866.1400',
  '3. low': '804.5700',
  '4. close': '804.5800',
  '5. volume': '24164724'},
 '2022-03-04': {'1. open': '849.1000',
  '2. high': '855.6500',
  '3. low': '825.1609',
  '4. close': '838.2900',
  '5. volume': '22393287'},
 '2022-03-03': {'1. open': '878.7700',
  '2. high': '886.4390',
  '3. low': '832.6001',
  '4. close': '839.2900',
  '5. volume': '20541169'},
 '2022-03-02': {'1. open': '872.1300',
  '2. high': '886.4800',
  '3. low': '844.2721',
  '4. close': '879.8900',
  '5. volume': '24881146'},
 '2022-03-01': {'1. open': '869.6800',
  '2. high': '889.8800',
  '3. low': '853.7800',
  '4. close': '864.3700',
  '5. volume': '24922287'},
 '2022-02-28': {'1. open': '815.0100',
  '2. high': '876.8600',
  '3. low': '814.7075',
  '4. close': '870.4300',
  '5. volume': '33002289'},
 '2022-02-25': {'1. open': '809.2300',
  '2. high': '819.5000',
  '3. low': '782.4005',
  '4. close': '809.8700',
  '5. volume': '25355921'},
 '2022-02-24': {'1. open': '700.3900',
  '2. high': '802.4800',
  '3. low': '700.0000',
  '4. close': '800.7700',
  '5. volume': '45107425'},
 '2022-02-23': {'1. open': '830.4300',
  '2. high': '835.2997',
  '3. low': '760.5600',
  '4. close': '764.0400',
  '5. volume': '31752336'},
 '2022-02-22': {'1. open': '834.1300',
  '2. high': '856.7338',
  '3. low': '801.1001',
  '4. close': '821.5300',
  '5. volume': '27387874'},
 '2022-02-18': {'1. open': '886.0000',
  '2. high': '886.8700',
  '3. low': '837.6100',
  '4. close': '856.9800',
  '5. volume': '22833947'},
 '2022-02-17': {'1. open': '913.2600',
  '2. high': '918.4999',
  '3. low': '874.1000',
  '4. close': '876.3500',
  '5. volume': '18392806'},
 '2022-02-16': {'1. open': '914.0500',
  '2. high': '926.4299',
  '3. low': '901.2100',
  '4. close': '923.3900',
  '5. volume': '17098132'},
 '2022-02-15': {'1. open': '900.0000',
  '2. high': '923.0000',
  '3. low': '893.3774',
  '4. close': '922.4300',
  '5. volume': '19216514'},
 '2022-02-14': {'1. open': '861.5700',
  '2. high': '898.8799',
  '3. low': '853.1500',
  '4. close': '875.7600',
  '5. volume': '22585472'},
 '2022-02-11': {'1. open': '909.6300',
  '2. high': '915.9600',
  '3. low': '850.7000',
  '4. close': '860.0000',
  '5. volume': '26548623'},
 '2022-02-10': {'1. open': '908.3700',
  '2. high': '943.8100',
  '3. low': '896.7000',
  '4. close': '904.5500',
  '5. volume': '22042277'},
 '2022-02-09': {'1. open': '935.0000',
  '2. high': '946.2699',
  '3. low': '920.0000',
  '4. close': '932.0000',
  '5. volume': '17419848'},
 '2022-02-08': {'1. open': '905.5300',
  '2. high': '926.2899',
  '3. low': '894.8000',
  '4. close': '922.0000',
  '5. volume': '16909671'},
 '2022-02-07': {'1. open': '923.7900',
  '2. high': '947.7700',
  '3. low': '902.7089',
  '4. close': '907.3400',
  '5. volume': '20331488'},
 '2022-02-04': {'1. open': '897.2200',
  '2. high': '936.5000',
  '3. low': '881.1700',
  '4. close': '923.3200',
  '5. volume': '24541822'},
 '2022-02-03': {'1. open': '882.0000',
  '2. high': '937.0000',
  '3. low': '880.5200',
  '4. close': '891.1400',
  '5. volume': '26285186'},
 '2022-02-02': {'1. open': '928.1800',
  '2. high': '931.5000',
  '3. low': '889.4100',
  '4. close': '905.6600',
  '5. volume': '22264345'},
 '2022-02-01': {'1. open': '935.2100',
  '2. high': '943.7000',
  '3. low': '905.0000',
  '4. close': '931.2500',
  '5. volume': '24379446'},
 '2022-01-31': {'1. open': '872.7100',
  '2. high': '937.9900',
  '3. low': '862.0500',
  '4. close': '936.7200',
  '5. volume': '34812032'},
 '2022-01-28': {'1. open': '831.5600',
  '2. high': '857.5000',
  '3. low': '792.0100',
  '4. close': '846.3500',
  '5. volume': '44929650'},
 '2022-01-27': {'1. open': '933.3600',
  '2. high': '935.3900',
  '3. low': '829.0000',
  '4. close': '829.1000',
  '5. volume': '49036523'},
 '2022-01-26': {'1. open': '952.4300',
  '2. high': '987.6900',
  '3. low': '906.0000',
  '4. close': '937.4100',
  '5. volume': '34955761'},
 '2022-01-25': {'1. open': '914.2000',
  '2. high': '951.2600',
  '3. low': '903.2100',
  '4. close': '918.4000',
  '5. volume': '28865302'},
 '2022-01-24': {'1. open': '904.7600',
  '2. high': '933.5131',
  '3. low': '851.4700',
  '4. close': '930.0000',
  '5. volume': '50791714'},
 '2022-01-21': {'1. open': '996.3400',
  '2. high': '1004.5500',
  '3. low': '940.5000',
  '4. close': '943.9000',
  '5. volume': '34472009'},
 '2022-01-20': {'1. open': '1009.7300',
  '2. high': '1041.6600',
  '3. low': '994.0000',
  '4. close': '996.2700',
  '5. volume': '23496248'},
 '2022-01-19': {'1. open': '1041.7050',
  '2. high': '1054.6699',
  '3. low': '995.0000',
  '4. close': '995.6500',
  '5. volume': '24870215'},
 '2022-01-18': {'1. open': '1026.6050',
  '2. high': '1070.7899',
  '3. low': '1016.0600',
  '4. close': '1030.5100',
  '5. volume': '22158412'},
 '2022-01-14': {'1. open': '1019.8800',
  '2. high': '1052.0000',
  '3. low': '1013.3788',
  '4. close': '1049.6100',
  '5. volume': '24308137'},
 '2022-01-13': {'1. open': '1109.0650',
  '2. high': '1115.6000',
  '3. low': '1026.5391',
  '4. close': '1031.5600',
  '5. volume': '32403264'},
 '2022-01-12': {'1. open': '1078.8500',
  '2. high': '1114.8400',
  '3. low': '1072.5901',
  '4. close': '1106.2200',
  '5. volume': '27913005'},
 '2022-01-11': {'1. open': '1053.6700',
  '2. high': '1075.8500',
  '3. low': '1038.8200',
  '4. close': '1064.4000',
  '5. volume': '21593308'},
 '2022-01-10': {'1. open': '1000.0000',
  '2. high': '1059.1000',
  '3. low': '980.0000',
  '4. close': '1058.1200',
  '5. volume': '30604959'},
 '2022-01-07': {'1. open': '1080.3700',
  '2. high': '1080.9299',
  '3. low': '1010.0000',
  '4. close': '1026.9600',
  '5. volume': '28054916'},
 '2022-01-06': {'1. open': '1077.0000',
  '2. high': '1088.0000',
  '3. low': '1020.5000',
  '4. close': '1064.7000',
  '5. volume': '30112158'},
 '2022-01-05': {'1. open': '1146.6500',
  '2. high': '1170.3400',
  '3. low': '1081.0101',
  '4. close': '1088.1200',
  '5. volume': '26706599'},
 '2022-01-04': {'1. open': '1189.5500',
  '2. high': '1208.0000',
  '3. low': '1123.0500',
  '4. close': '1149.5900',
  '5. volume': '33416086'},
 '2022-01-03': {'1. open': '1147.7500',
  '2. high': '1201.0700',
  '3. low': '1136.0400',
  '4. close': '1199.7800',
  '5. volume': '34895349'},
 '2021-12-31': {'1. open': '1073.4444',
  '2. high': '1081.9999',
  '3. low': '1054.5900',
  '4. close': '1056.7800',
  '5. volume': '13466216'},
 '2021-12-30': {'1. open': '1061.3300',
  '2. high': '1095.5500',
  '3. low': '1053.1500',
  '4. close': '1070.3400',
  '5. volume': '15680313'},
 '2021-12-29': {'1. open': '1098.6400',
  '2. high': '1104.0000',
  '3. low': '1064.1400',
  '4. close': '1086.1900',
  '5. volume': '18718015'},
 '2021-12-28': {'1. open': '1109.4900',
  '2. high': '1118.9999',
  '3. low': '1078.4200',
  '4. close': '1088.4700',
  '5. volume': '20107969'},
 '2021-12-27': {'1. open': '1073.6700',
  '2. high': '1117.0000',
  '3. low': '1070.7152',
  '4. close': '1093.9400',
  '5. volume': '23715273'},
 '2021-12-23': {'1. open': '1006.8000',
  '2. high': '1072.9767',
  '3. low': '997.5600',
  '4. close': '1067.0000',
  '5. volume': '30904429'},
 '2021-12-22': {'1. open': '965.6600',
  '2. high': '1015.6599',
  '3. low': '957.0500',
  '4. close': '1008.8700',
  '5. volume': '31211362'},
 '2021-12-21': {'1. open': '916.8700',
  '2. high': '939.5000',
  '3. low': '886.1200',
  '4. close': '938.5300',
  '5. volume': '23839305'},
 '2021-12-20': {'1. open': '910.7000',
  '2. high': '921.6884',
  '3. low': '893.3900',
  '4. close': '899.9400',
  '5. volume': '18826671'},
 '2021-12-17': {'1. open': '914.7700',
  '2. high': '960.6599',
  '3. low': '909.0401',
  '4. close': '932.5700',
  '5. volume': '33626754'},
 '2021-12-16': {'1. open': '994.5000',
  '2. high': '994.9800',
  '3. low': '921.8500',
  '4. close': '926.9200',
  '5. volume': '27590483'},
 '2021-12-15': {'1. open': '953.2100',
  '2. high': '978.7499',
  '3. low': '928.2501',
  '4. close': '975.9900',
  '5. volume': '25056410'},
 '2021-12-14': {'1. open': '945.0000',
  '2. high': '966.4100',
  '3. low': '930.0000',
  '4. close': '958.5100',
  '5. volume': '23602090'},
 '2021-12-13': {'1. open': '1001.0900',
  '2. high': '1005.0000',
  '3. low': '951.4200',
  '4. close': '966.4100',
  '5. volume': '26198502'},
 '2021-12-10': {'1. open': '1008.7500',
  '2. high': '1020.9797',
  '3. low': '982.5300',
  '4. close': '1017.0300',
  '5. volume': '19888122'},
 '2021-12-09': {'1. open': '1060.6400',
  '2. high': '1062.4900',
  '3. low': '1002.3600',
  '4. close': '1003.8000',
  '5. volume': '19812832'},
 '2021-12-08': {'1. open': '1052.7100',
  '2. high': '1072.3800',
  '3. low': '1033.0001',
  '4. close': '1068.9600',
  '5. volume': '13968790'},
 '2021-12-07': {'1. open': '1044.2000',
  '2. high': '1057.6739',
  '3. low': '1026.8100',
  '4. close': '1051.7500',
  '5. volume': '18694857'},
 '2021-12-06': {'1. open': '1001.5100',
  '2. high': '1021.6400',
  '3. low': '950.5000',
  '4. close': '1009.0100',
  '5. volume': '27221037'},
 '2021-12-03': {'1. open': '1084.7900',
  '2. high': '1090.5753',
  '3. low': '1000.2100',
  '4. close': '1014.9700',
  '5. volume': '30773995'},
 '2021-12-02': {'1. open': '1099.0600',
  '2. high': '1113.0000',
  '3. low': '1056.6500',
  '4. close': '1084.6000',
  '5. volume': '24371623'},
 '2021-12-01': {'1. open': '1160.6950',
  '2. high': '1172.8399',
  '3. low': '1090.7600',
  '4. close': '1095.0000',
  '5. volume': '22934698'},
 '2021-11-30': {'1. open': '1144.3700',
  '2. high': '1168.0000',
  '3. low': '1118.0000',
  '4. close': '1144.7600',
  '5. volume': '27092038'},
 '2021-11-29': {'1. open': '1100.9900',
  '2. high': '1142.6700',
  '3. low': '1100.1900',
  '4. close': '1136.9900',
  '5. volume': '19464467'},
 '2021-11-26': {'1. open': '1099.4700',
  '2. high': '1108.7827',
  '3. low': '1081.0000',
  '4. close': '1081.9200',
  '5. volume': '11680890'}}

In [268]:
for key, value in data.items():
    print(key , value)

2022-04-20 {'1. open': '1030.0000', '2. high': '1034.0000', '3. low': '975.2501', '4. close': '977.2000', '5. volume': '21616141'}
2022-04-19 {'1. open': '1005.0600', '2. high': '1034.9400', '3. low': '995.3250', '4. close': '1028.1500', '5. volume': '16615944'}
2022-04-18 {'1. open': '989.0300', '2. high': '1014.9200', '3. low': '973.4100', '4. close': '1004.2900', '5. volume': '17238407'}
2022-04-14 {'1. open': '999.2900', '2. high': '1012.7099', '3. low': '982.1900', '4. close': '985.0000', '5. volume': '19474135'}
2022-04-13 {'1. open': '981.0750', '2. high': '1026.2400', '3. low': '973.0970', '4. close': '1022.3700', '5. volume': '18373737'}
2022-04-12 {'1. open': '997.6400', '2. high': '1021.1921', '3. low': '976.6001', '4. close': '986.9500', '5. volume': '21992032'}
2022-04-11 {'1. open': '980.4000', '2. high': '1008.4681', '3. low': '974.6400', '4. close': '975.9300', '5. volume': '19785735'}
2022-04-08 {'1. open': '1043.2100', '2. high': '1048.4400', '3. low': '1022.4350', '4. close': '1025.4900', '5. volume': '18337896'}
2022-04-07 {'1. open': '1052.3900', '2. high': '1076.5900', '3. low': '1021.5401', '4. close': '1057.2600', '5. volume': '26482353'}
2022-04-06 {'1. open': '1073.4700', '2. high': '1079.0000', '3. low': '1027.7000', '4. close': '1045.7600', '5. volume': '29782845'}
2022-04-05 {'1. open': '1136.3000', '2. high': '1152.8700', '3. low': '1087.3000', '4. close': '1091.2600', '5. volume': '26192187'}
2022-04-04 {'1. open': '1089.3800', '2. high': '1149.9100', '3. low': '1072.5300', '4. close': '1145.4500', '5. volume': '27392567'}
2022-04-01 {'1. open': '1081.1500', '2. high': '1094.7500', '3. low': '1066.6400', '4. close': '1084.5900', '5. volume': '18087741'}
2022-03-31 {'1. open': '1094.5700', '2. high': '1103.1399', '3. low': '1076.6410', '4. close': '1077.6000', '5. volume': '16330919'}
2022-03-30 {'1. open': '1091.1700', '2. high': '1113.9500', '3. low': '1084.0000', '4. close': '1093.9900', '5. volume': '19955002'}
2022-03-29 {'1. open': '1107.9900', '2. high': '1114.7700', '3. low': '1073.1100', '4. close': '1099.5700', '5. volume': '24538273'}
2022-03-28 {'1. open': '1065.1000', '2. high': '1097.8799', '3. low': '1053.6000', '4. close': '1091.8400', '5. volume': '34168693'}
2022-03-25 {'1. open': '1008.0000', '2. high': '1021.7999', '3. low': '997.3201', '4. close': '1010.6400', '5. volume': '20496893'}
2022-03-24 {'1. open': '1009.7300', '2. high': '1024.4900', '3. low': '988.8000', '4. close': '1013.9200', '5. volume': '22973626'}
2022-03-23 {'1. open': '979.9400', '2. high': '1040.7000', '3. low': '976.4000', '4. close': '999.1100', '5. volume': '40225383'}
2022-03-22 {'1. open': '930.0000', '2. high': '997.8600', '3. low': '921.7500', '4. close': '993.9800', '5. volume': '34882278'}
2022-03-21 {'1. open': '914.9800', '2. high': '942.8500', '3. low': '907.0900', '4. close': '921.1600', '5. volume': '26640958'}
2022-03-18 {'1. open': '874.4900', '2. high': '907.8500', '3. low': '867.3900', '4. close': '905.3900', '5. volume': '33443159'}
2022-03-17 {'1. open': '830.9900', '2. high': '875.0000', '3. low': '825.7178', '4. close': '871.6000', '5. volume': '22194324'}
2022-03-16 {'1. open': '809.0000', '2. high': '842.0000', '3. low': '802.2601', '4. close': '840.2300', '5. volume': '28009607'}
2022-03-15 {'1. open': '775.2700', '2. high': '805.5700', '3. low': '756.5700', '4. close': '801.8900', '5. volume': '22280381'}
2022-03-14 {'1. open': '780.6100', '2. high': '800.7000', '3. low': '756.0400', '4. close': '766.3700', '5. volume': '23717421'}
2022-03-11 {'1. open': '840.1970', '2. high': '843.8020', '3. low': '793.7700', '4. close': '795.3500', '5. volume': '22345722'}
2022-03-10 {'1. open': '851.4500', '2. high': '854.4500', '3. low': '810.3601', '4. close': '838.3000', '5. volume': '19549548'}
2022-03-09 {'1. open': '839.4800', '2. high': '860.5600', '3. low': '832.0100', '4. close': '858.9700', '5. volume': '19727993'}
2022-03-08 {'1. open': '795.5300', '2. high': '849.9900', '3. low': '782.1700', '4. close': '824.4000', '5. volume': '26799702'}
2022-03-07 {'1. open': '856.3000', '2. high': '866.1400', '3. low': '804.5700', '4. close': '804.5800', '5. volume': '24164724'}
2022-03-04 {'1. open': '849.1000', '2. high': '855.6500', '3. low': '825.1609', '4. close': '838.2900', '5. volume': '22393287'}
2022-03-03 {'1. open': '878.7700', '2. high': '886.4390', '3. low': '832.6001', '4. close': '839.2900', '5. volume': '20541169'}
2022-03-02 {'1. open': '872.1300', '2. high': '886.4800', '3. low': '844.2721', '4. close': '879.8900', '5. volume': '24881146'}
2022-03-01 {'1. open': '869.6800', '2. high': '889.8800', '3. low': '853.7800', '4. close': '864.3700', '5. volume': '24922287'}
2022-02-28 {'1. open': '815.0100', '2. high': '876.8600', '3. low': '814.7075', '4. close': '870.4300', '5. volume': '33002289'}
2022-02-25 {'1. open': '809.2300', '2. high': '819.5000', '3. low': '782.4005', '4. close': '809.8700', '5. volume': '25355921'}
2022-02-24 {'1. open': '700.3900', '2. high': '802.4800', '3. low': '700.0000', '4. close': '800.7700', '5. volume': '45107425'}
2022-02-23 {'1. open': '830.4300', '2. high': '835.2997', '3. low': '760.5600', '4. close': '764.0400', '5. volume': '31752336'}
2022-02-22 {'1. open': '834.1300', '2. high': '856.7338', '3. low': '801.1001', '4. close': '821.5300', '5. volume': '27387874'}
2022-02-18 {'1. open': '886.0000', '2. high': '886.8700', '3. low': '837.6100', '4. close': '856.9800', '5. volume': '22833947'}
2022-02-17 {'1. open': '913.2600', '2. high': '918.4999', '3. low': '874.1000', '4. close': '876.3500', '5. volume': '18392806'}
2022-02-16 {'1. open': '914.0500', '2. high': '926.4299', '3. low': '901.2100', '4. close': '923.3900', '5. volume': '17098132'}
2022-02-15 {'1. open': '900.0000', '2. high': '923.0000', '3. low': '893.3774', '4. close': '922.4300', '5. volume': '19216514'}
2022-02-14 {'1. open': '861.5700', '2. high': '898.8799', '3. low': '853.1500', '4. close': '875.7600', '5. volume': '22585472'}
2022-02-11 {'1. open': '909.6300', '2. high': '915.9600', '3. low': '850.7000', '4. close': '860.0000', '5. volume': '26548623'}
2022-02-10 {'1. open': '908.3700', '2. high': '943.8100', '3. low': '896.7000', '4. close': '904.5500', '5. volume': '22042277'}
2022-02-09 {'1. open': '935.0000', '2. high': '946.2699', '3. low': '920.0000', '4. close': '932.0000', '5. volume': '17419848'}
2022-02-08 {'1. open': '905.5300', '2. high': '926.2899', '3. low': '894.8000', '4. close': '922.0000', '5. volume': '16909671'}
2022-02-07 {'1. open': '923.7900', '2. high': '947.7700', '3. low': '902.7089', '4. close': '907.3400', '5. volume': '20331488'}
2022-02-04 {'1. open': '897.2200', '2. high': '936.5000', '3. low': '881.1700', '4. close': '923.3200', '5. volume': '24541822'}
2022-02-03 {'1. open': '882.0000', '2. high': '937.0000', '3. low': '880.5200', '4. close': '891.1400', '5. volume': '26285186'}
2022-02-02 {'1. open': '928.1800', '2. high': '931.5000', '3. low': '889.4100', '4. close': '905.6600', '5. volume': '22264345'}
2022-02-01 {'1. open': '935.2100', '2. high': '943.7000', '3. low': '905.0000', '4. close': '931.2500', '5. volume': '24379446'}
2022-01-31 {'1. open': '872.7100', '2. high': '937.9900', '3. low': '862.0500', '4. close': '936.7200', '5. volume': '34812032'}
2022-01-28 {'1. open': '831.5600', '2. high': '857.5000', '3. low': '792.0100', '4. close': '846.3500', '5. volume': '44929650'}
2022-01-27 {'1. open': '933.3600', '2. high': '935.3900', '3. low': '829.0000', '4. close': '829.1000', '5. volume': '49036523'}
2022-01-26 {'1. open': '952.4300', '2. high': '987.6900', '3. low': '906.0000', '4. close': '937.4100', '5. volume': '34955761'}
2022-01-25 {'1. open': '914.2000', '2. high': '951.2600', '3. low': '903.2100', '4. close': '918.4000', '5. volume': '28865302'}
2022-01-24 {'1. open': '904.7600', '2. high': '933.5131', '3. low': '851.4700', '4. close': '930.0000', '5. volume': '50791714'}
2022-01-21 {'1. open': '996.3400', '2. high': '1004.5500', '3. low': '940.5000', '4. close': '943.9000', '5. volume': '34472009'}
2022-01-20 {'1. open': '1009.7300', '2. high': '1041.6600', '3. low': '994.0000', '4. close': '996.2700', '5. volume': '23496248'}
2022-01-19 {'1. open': '1041.7050', '2. high': '1054.6699', '3. low': '995.0000', '4. close': '995.6500', '5. volume': '24870215'}
2022-01-18 {'1. open': '1026.6050', '2. high': '1070.7899', '3. low': '1016.0600', '4. close': '1030.5100', '5. volume': '22158412'}
2022-01-14 {'1. open': '1019.8800', '2. high': '1052.0000', '3. low': '1013.3788', '4. close': '1049.6100', '5. volume': '24308137'}
2022-01-13 {'1. open': '1109.0650', '2. high': '1115.6000', '3. low': '1026.5391', '4. close': '1031.5600', '5. volume': '32403264'}
2022-01-12 {'1. open': '1078.8500', '2. high': '1114.8400', '3. low': '1072.5901', '4. close': '1106.2200', '5. volume': '27913005'}
2022-01-11 {'1. open': '1053.6700', '2. high': '1075.8500', '3. low': '1038.8200', '4. close': '1064.4000', '5. volume': '21593308'}
2022-01-10 {'1. open': '1000.0000', '2. high': '1059.1000', '3. low': '980.0000', '4. close': '1058.1200', '5. volume': '30604959'}
2022-01-07 {'1. open': '1080.3700', '2. high': '1080.9299', '3. low': '1010.0000', '4. close': '1026.9600', '5. volume': '28054916'}
2022-01-06 {'1. open': '1077.0000', '2. high': '1088.0000', '3. low': '1020.5000', '4. close': '1064.7000', '5. volume': '30112158'}
2022-01-05 {'1. open': '1146.6500', '2. high': '1170.3400', '3. low': '1081.0101', '4. close': '1088.1200', '5. volume': '26706599'}
2022-01-04 {'1. open': '1189.5500', '2. high': '1208.0000', '3. low': '1123.0500', '4. close': '1149.5900', '5. volume': '33416086'}
2022-01-03 {'1. open': '1147.7500', '2. high': '1201.0700', '3. low': '1136.0400', '4. close': '1199.7800', '5. volume': '34895349'}
2021-12-31 {'1. open': '1073.4444', '2. high': '1081.9999', '3. low': '1054.5900', '4. close': '1056.7800', '5. volume': '13466216'}
2021-12-30 {'1. open': '1061.3300', '2. high': '1095.5500', '3. low': '1053.1500', '4. close': '1070.3400', '5. volume': '15680313'}
2021-12-29 {'1. open': '1098.6400', '2. high': '1104.0000', '3. low': '1064.1400', '4. close': '1086.1900', '5. volume': '18718015'}
2021-12-28 {'1. open': '1109.4900', '2. high': '1118.9999', '3. low': '1078.4200', '4. close': '1088.4700', '5. volume': '20107969'}
2021-12-27 {'1. open': '1073.6700', '2. high': '1117.0000', '3. low': '1070.7152', '4. close': '1093.9400', '5. volume': '23715273'}
2021-12-23 {'1. open': '1006.8000', '2. high': '1072.9767', '3. low': '997.5600', '4. close': '1067.0000', '5. volume': '30904429'}
2021-12-22 {'1. open': '965.6600', '2. high': '1015.6599', '3. low': '957.0500', '4. close': '1008.8700', '5. volume': '31211362'}
2021-12-21 {'1. open': '916.8700', '2. high': '939.5000', '3. low': '886.1200', '4. close': '938.5300', '5. volume': '23839305'}
2021-12-20 {'1. open': '910.7000', '2. high': '921.6884', '3. low': '893.3900', '4. close': '899.9400', '5. volume': '18826671'}
2021-12-17 {'1. open': '914.7700', '2. high': '960.6599', '3. low': '909.0401', '4. close': '932.5700', '5. volume': '33626754'}
2021-12-16 {'1. open': '994.5000', '2. high': '994.9800', '3. low': '921.8500', '4. close': '926.9200', '5. volume': '27590483'}
2021-12-15 {'1. open': '953.2100', '2. high': '978.7499', '3. low': '928.2501', '4. close': '975.9900', '5. volume': '25056410'}
2021-12-14 {'1. open': '945.0000', '2. high': '966.4100', '3. low': '930.0000', '4. close': '958.5100', '5. volume': '23602090'}
2021-12-13 {'1. open': '1001.0900', '2. high': '1005.0000', '3. low': '951.4200', '4. close': '966.4100', '5. volume': '26198502'}
2021-12-10 {'1. open': '1008.7500', '2. high': '1020.9797', '3. low': '982.5300', '4. close': '1017.0300', '5. volume': '19888122'}
2021-12-09 {'1. open': '1060.6400', '2. high': '1062.4900', '3. low': '1002.3600', '4. close': '1003.8000', '5. volume': '19812832'}
2021-12-08 {'1. open': '1052.7100', '2. high': '1072.3800', '3. low': '1033.0001', '4. close': '1068.9600', '5. volume': '13968790'}
2021-12-07 {'1. open': '1044.2000', '2. high': '1057.6739', '3. low': '1026.8100', '4. close': '1051.7500', '5. volume': '18694857'}
2021-12-06 {'1. open': '1001.5100', '2. high': '1021.6400', '3. low': '950.5000', '4. close': '1009.0100', '5. volume': '27221037'}
2021-12-03 {'1. open': '1084.7900', '2. high': '1090.5753', '3. low': '1000.2100', '4. close': '1014.9700', '5. volume': '30773995'}
2021-12-02 {'1. open': '1099.0600', '2. high': '1113.0000', '3. low': '1056.6500', '4. close': '1084.6000', '5. volume': '24371623'}
2021-12-01 {'1. open': '1160.6950', '2. high': '1172.8399', '3. low': '1090.7600', '4. close': '1095.0000', '5. volume': '22934698'}
2021-11-30 {'1. open': '1144.3700', '2. high': '1168.0000', '3. low': '1118.0000', '4. close': '1144.7600', '5. volume': '27092038'}
2021-11-29 {'1. open': '1100.9900', '2. high': '1142.6700', '3. low': '1100.1900', '4. close': '1136.9900', '5. volume': '19464467'}
2021-11-26 {'1. open': '1099.4700', '2. high': '1108.7827', '3. low': '1081.0000', '4. close': '1081.9200', '5. volume': '11680890'}

In [271]:
prices = []
for value in data.values():
    prices.append(value)

In [272]:
prices

[{'1. open': '1030.0000',
  '2. high': '1034.0000',
  '3. low': '975.2501',
  '4. close': '977.2000',
  '5. volume': '21616141'},
 {'1. open': '1005.0600',
  '2. high': '1034.9400',
  '3. low': '995.3250',
  '4. close': '1028.1500',
  '5. volume': '16615944'},
 {'1. open': '989.0300',
  '2. high': '1014.9200',
  '3. low': '973.4100',
  '4. close': '1004.2900',
  '5. volume': '17238407'},
 {'1. open': '999.2900',
  '2. high': '1012.7099',
  '3. low': '982.1900',
  '4. close': '985.0000',
  '5. volume': '19474135'},
 {'1. open': '981.0750',
  '2. high': '1026.2400',
  '3. low': '973.0970',
  '4. close': '1022.3700',
  '5. volume': '18373737'},
 {'1. open': '997.6400',
  '2. high': '1021.1921',
  '3. low': '976.6001',
  '4. close': '986.9500',
  '5. volume': '21992032'},
 {'1. open': '980.4000',
  '2. high': '1008.4681',
  '3. low': '974.6400',
  '4. close': '975.9300',
  '5. volume': '19785735'},
 {'1. open': '1043.2100',
  '2. high': '1048.4400',
  '3. low': '1022.4350',
  '4. close': '1025.4900',
  '5. volume': '18337896'},
 {'1. open': '1052.3900',
  '2. high': '1076.5900',
  '3. low': '1021.5401',
  '4. close': '1057.2600',
  '5. volume': '26482353'},
 {'1. open': '1073.4700',
  '2. high': '1079.0000',
  '3. low': '1027.7000',
  '4. close': '1045.7600',
  '5. volume': '29782845'},
 {'1. open': '1136.3000',
  '2. high': '1152.8700',
  '3. low': '1087.3000',
  '4. close': '1091.2600',
  '5. volume': '26192187'},
 {'1. open': '1089.3800',
  '2. high': '1149.9100',
  '3. low': '1072.5300',
  '4. close': '1145.4500',
  '5. volume': '27392567'},
 {'1. open': '1081.1500',
  '2. high': '1094.7500',
  '3. low': '1066.6400',
  '4. close': '1084.5900',
  '5. volume': '18087741'},
 {'1. open': '1094.5700',
  '2. high': '1103.1399',
  '3. low': '1076.6410',
  '4. close': '1077.6000',
  '5. volume': '16330919'},
 {'1. open': '1091.1700',
  '2. high': '1113.9500',
  '3. low': '1084.0000',
  '4. close': '1093.9900',
  '5. volume': '19955002'},
 {'1. open': '1107.9900',
  '2. high': '1114.7700',
  '3. low': '1073.1100',
  '4. close': '1099.5700',
  '5. volume': '24538273'},
 {'1. open': '1065.1000',
  '2. high': '1097.8799',
  '3. low': '1053.6000',
  '4. close': '1091.8400',
  '5. volume': '34168693'},
 {'1. open': '1008.0000',
  '2. high': '1021.7999',
  '3. low': '997.3201',
  '4. close': '1010.6400',
  '5. volume': '20496893'},
 {'1. open': '1009.7300',
  '2. high': '1024.4900',
  '3. low': '988.8000',
  '4. close': '1013.9200',
  '5. volume': '22973626'},
 {'1. open': '979.9400',
  '2. high': '1040.7000',
  '3. low': '976.4000',
  '4. close': '999.1100',
  '5. volume': '40225383'},
 {'1. open': '930.0000',
  '2. high': '997.8600',
  '3. low': '921.7500',
  '4. close': '993.9800',
  '5. volume': '34882278'},
 {'1. open': '914.9800',
  '2. high': '942.8500',
  '3. low': '907.0900',
  '4. close': '921.1600',
  '5. volume': '26640958'},
 {'1. open': '874.4900',
  '2. high': '907.8500',
  '3. low': '867.3900',
  '4. close': '905.3900',
  '5. volume': '33443159'},
 {'1. open': '830.9900',
  '2. high': '875.0000',
  '3. low': '825.7178',
  '4. close': '871.6000',
  '5. volume': '22194324'},
 {'1. open': '809.0000',
  '2. high': '842.0000',
  '3. low': '802.2601',
  '4. close': '840.2300',
  '5. volume': '28009607'},
 {'1. open': '775.2700',
  '2. high': '805.5700',
  '3. low': '756.5700',
  '4. close': '801.8900',
  '5. volume': '22280381'},
 {'1. open': '780.6100',
  '2. high': '800.7000',
  '3. low': '756.0400',
  '4. close': '766.3700',
  '5. volume': '23717421'},
 {'1. open': '840.1970',
  '2. high': '843.8020',
  '3. low': '793.7700',
  '4. close': '795.3500',
  '5. volume': '22345722'},
 {'1. open': '851.4500',
  '2. high': '854.4500',
  '3. low': '810.3601',
  '4. close': '838.3000',
  '5. volume': '19549548'},
 {'1. open': '839.4800',
  '2. high': '860.5600',
  '3. low': '832.0100',
  '4. close': '858.9700',
  '5. volume': '19727993'},
 {'1. open': '795.5300',
  '2. high': '849.9900',
  '3. low': '782.1700',
  '4. close': '824.4000',
  '5. volume': '26799702'},
 {'1. open': '856.3000',
  '2. high': '866.1400',
  '3. low': '804.5700',
  '4. close': '804.5800',
  '5. volume': '24164724'},
 {'1. open': '849.1000',
  '2. high': '855.6500',
  '3. low': '825.1609',
  '4. close': '838.2900',
  '5. volume': '22393287'},
 {'1. open': '878.7700',
  '2. high': '886.4390',
  '3. low': '832.6001',
  '4. close': '839.2900',
  '5. volume': '20541169'},
 {'1. open': '872.1300',
  '2. high': '886.4800',
  '3. low': '844.2721',
  '4. close': '879.8900',
  '5. volume': '24881146'},
 {'1. open': '869.6800',
  '2. high': '889.8800',
  '3. low': '853.7800',
  '4. close': '864.3700',
  '5. volume': '24922287'},
 {'1. open': '815.0100',
  '2. high': '876.8600',
  '3. low': '814.7075',
  '4. close': '870.4300',
  '5. volume': '33002289'},
 {'1. open': '809.2300',
  '2. high': '819.5000',
  '3. low': '782.4005',
  '4. close': '809.8700',
  '5. volume': '25355921'},
 {'1. open': '700.3900',
  '2. high': '802.4800',
  '3. low': '700.0000',
  '4. close': '800.7700',
  '5. volume': '45107425'},
 {'1. open': '830.4300',
  '2. high': '835.2997',
  '3. low': '760.5600',
  '4. close': '764.0400',
  '5. volume': '31752336'},
 {'1. open': '834.1300',
  '2. high': '856.7338',
  '3. low': '801.1001',
  '4. close': '821.5300',
  '5. volume': '27387874'},
 {'1. open': '886.0000',
  '2. high': '886.8700',
  '3. low': '837.6100',
  '4. close': '856.9800',
  '5. volume': '22833947'},
 {'1. open': '913.2600',
  '2. high': '918.4999',
  '3. low': '874.1000',
  '4. close': '876.3500',
  '5. volume': '18392806'},
 {'1. open': '914.0500',
  '2. high': '926.4299',
  '3. low': '901.2100',
  '4. close': '923.3900',
  '5. volume': '17098132'},
 {'1. open': '900.0000',
  '2. high': '923.0000',
  '3. low': '893.3774',
  '4. close': '922.4300',
  '5. volume': '19216514'},
 {'1. open': '861.5700',
  '2. high': '898.8799',
  '3. low': '853.1500',
  '4. close': '875.7600',
  '5. volume': '22585472'},
 {'1. open': '909.6300',
  '2. high': '915.9600',
  '3. low': '850.7000',
  '4. close': '860.0000',
  '5. volume': '26548623'},
 {'1. open': '908.3700',
  '2. high': '943.8100',
  '3. low': '896.7000',
  '4. close': '904.5500',
  '5. volume': '22042277'},
 {'1. open': '935.0000',
  '2. high': '946.2699',
  '3. low': '920.0000',
  '4. close': '932.0000',
  '5. volume': '17419848'},
 {'1. open': '905.5300',
  '2. high': '926.2899',
  '3. low': '894.8000',
  '4. close': '922.0000',
  '5. volume': '16909671'},
 {'1. open': '923.7900',
  '2. high': '947.7700',
  '3. low': '902.7089',
  '4. close': '907.3400',
  '5. volume': '20331488'},
 {'1. open': '897.2200',
  '2. high': '936.5000',
  '3. low': '881.1700',
  '4. close': '923.3200',
  '5. volume': '24541822'},
 {'1. open': '882.0000',
  '2. high': '937.0000',
  '3. low': '880.5200',
  '4. close': '891.1400',
  '5. volume': '26285186'},
 {'1. open': '928.1800',
  '2. high': '931.5000',
  '3. low': '889.4100',
  '4. close': '905.6600',
  '5. volume': '22264345'},
 {'1. open': '935.2100',
  '2. high': '943.7000',
  '3. low': '905.0000',
  '4. close': '931.2500',
  '5. volume': '24379446'},
 {'1. open': '872.7100',
  '2. high': '937.9900',
  '3. low': '862.0500',
  '4. close': '936.7200',
  '5. volume': '34812032'},
 {'1. open': '831.5600',
  '2. high': '857.5000',
  '3. low': '792.0100',
  '4. close': '846.3500',
  '5. volume': '44929650'},
 {'1. open': '933.3600',
  '2. high': '935.3900',
  '3. low': '829.0000',
  '4. close': '829.1000',
  '5. volume': '49036523'},
 {'1. open': '952.4300',
  '2. high': '987.6900',
  '3. low': '906.0000',
  '4. close': '937.4100',
  '5. volume': '34955761'},
 {'1. open': '914.2000',
  '2. high': '951.2600',
  '3. low': '903.2100',
  '4. close': '918.4000',
  '5. volume': '28865302'},
 {'1. open': '904.7600',
  '2. high': '933.5131',
  '3. low': '851.4700',
  '4. close': '930.0000',
  '5. volume': '50791714'},
 {'1. open': '996.3400',
  '2. high': '1004.5500',
  '3. low': '940.5000',
  '4. close': '943.9000',
  '5. volume': '34472009'},
 {'1. open': '1009.7300',
  '2. high': '1041.6600',
  '3. low': '994.0000',
  '4. close': '996.2700',
  '5. volume': '23496248'},
 {'1. open': '1041.7050',
  '2. high': '1054.6699',
  '3. low': '995.0000',
  '4. close': '995.6500',
  '5. volume': '24870215'},
 {'1. open': '1026.6050',
  '2. high': '1070.7899',
  '3. low': '1016.0600',
  '4. close': '1030.5100',
  '5. volume': '22158412'},
 {'1. open': '1019.8800',
  '2. high': '1052.0000',
  '3. low': '1013.3788',
  '4. close': '1049.6100',
  '5. volume': '24308137'},
 {'1. open': '1109.0650',
  '2. high': '1115.6000',
  '3. low': '1026.5391',
  '4. close': '1031.5600',
  '5. volume': '32403264'},
 {'1. open': '1078.8500',
  '2. high': '1114.8400',
  '3. low': '1072.5901',
  '4. close': '1106.2200',
  '5. volume': '27913005'},
 {'1. open': '1053.6700',
  '2. high': '1075.8500',
  '3. low': '1038.8200',
  '4. close': '1064.4000',
  '5. volume': '21593308'},
 {'1. open': '1000.0000',
  '2. high': '1059.1000',
  '3. low': '980.0000',
  '4. close': '1058.1200',
  '5. volume': '30604959'},
 {'1. open': '1080.3700',
  '2. high': '1080.9299',
  '3. low': '1010.0000',
  '4. close': '1026.9600',
  '5. volume': '28054916'},
 {'1. open': '1077.0000',
  '2. high': '1088.0000',
  '3. low': '1020.5000',
  '4. close': '1064.7000',
  '5. volume': '30112158'},
 {'1. open': '1146.6500',
  '2. high': '1170.3400',
  '3. low': '1081.0101',
  '4. close': '1088.1200',
  '5. volume': '26706599'},
 {'1. open': '1189.5500',
  '2. high': '1208.0000',
  '3. low': '1123.0500',
  '4. close': '1149.5900',
  '5. volume': '33416086'},
 {'1. open': '1147.7500',
  '2. high': '1201.0700',
  '3. low': '1136.0400',
  '4. close': '1199.7800',
  '5. volume': '34895349'},
 {'1. open': '1073.4444',
  '2. high': '1081.9999',
  '3. low': '1054.5900',
  '4. close': '1056.7800',
  '5. volume': '13466216'},
 {'1. open': '1061.3300',
  '2. high': '1095.5500',
  '3. low': '1053.1500',
  '4. close': '1070.3400',
  '5. volume': '15680313'},
 {'1. open': '1098.6400',
  '2. high': '1104.0000',
  '3. low': '1064.1400',
  '4. close': '1086.1900',
  '5. volume': '18718015'},
 {'1. open': '1109.4900',
  '2. high': '1118.9999',
  '3. low': '1078.4200',
  '4. close': '1088.4700',
  '5. volume': '20107969'},
 {'1. open': '1073.6700',
  '2. high': '1117.0000',
  '3. low': '1070.7152',
  '4. close': '1093.9400',
  '5. volume': '23715273'},
 {'1. open': '1006.8000',
  '2. high': '1072.9767',
  '3. low': '997.5600',
  '4. close': '1067.0000',
  '5. volume': '30904429'},
 {'1. open': '965.6600',
  '2. high': '1015.6599',
  '3. low': '957.0500',
  '4. close': '1008.8700',
  '5. volume': '31211362'},
 {'1. open': '916.8700',
  '2. high': '939.5000',
  '3. low': '886.1200',
  '4. close': '938.5300',
  '5. volume': '23839305'},
 {'1. open': '910.7000',
  '2. high': '921.6884',
  '3. low': '893.3900',
  '4. close': '899.9400',
  '5. volume': '18826671'},
 {'1. open': '914.7700',
  '2. high': '960.6599',
  '3. low': '909.0401',
  '4. close': '932.5700',
  '5. volume': '33626754'},
 {'1. open': '994.5000',
  '2. high': '994.9800',
  '3. low': '921.8500',
  '4. close': '926.9200',
  '5. volume': '27590483'},
 {'1. open': '953.2100',
  '2. high': '978.7499',
  '3. low': '928.2501',
  '4. close': '975.9900',
  '5. volume': '25056410'},
 {'1. open': '945.0000',
  '2. high': '966.4100',
  '3. low': '930.0000',
  '4. close': '958.5100',
  '5. volume': '23602090'},
 {'1. open': '1001.0900',
  '2. high': '1005.0000',
  '3. low': '951.4200',
  '4. close': '966.4100',
  '5. volume': '26198502'},
 {'1. open': '1008.7500',
  '2. high': '1020.9797',
  '3. low': '982.5300',
  '4. close': '1017.0300',
  '5. volume': '19888122'},
 {'1. open': '1060.6400',
  '2. high': '1062.4900',
  '3. low': '1002.3600',
  '4. close': '1003.8000',
  '5. volume': '19812832'},
 {'1. open': '1052.7100',
  '2. high': '1072.3800',
  '3. low': '1033.0001',
  '4. close': '1068.9600',
  '5. volume': '13968790'},
 {'1. open': '1044.2000',
  '2. high': '1057.6739',
  '3. low': '1026.8100',
  '4. close': '1051.7500',
  '5. volume': '18694857'},
 {'1. open': '1001.5100',
  '2. high': '1021.6400',
  '3. low': '950.5000',
  '4. close': '1009.0100',
  '5. volume': '27221037'},
 {'1. open': '1084.7900',
  '2. high': '1090.5753',
  '3. low': '1000.2100',
  '4. close': '1014.9700',
  '5. volume': '30773995'},
 {'1. open': '1099.0600',
  '2. high': '1113.0000',
  '3. low': '1056.6500',
  '4. close': '1084.6000',
  '5. volume': '24371623'},
 {'1. open': '1160.6950',
  '2. high': '1172.8399',
  '3. low': '1090.7600',
  '4. close': '1095.0000',
  '5. volume': '22934698'},
 {'1. open': '1144.3700',
  '2. high': '1168.0000',
  '3. low': '1118.0000',
  '4. close': '1144.7600',
  '5. volume': '27092038'},
 {'1. open': '1100.9900',
  '2. high': '1142.6700',
  '3. low': '1100.1900',
  '4. close': '1136.9900',
  '5. volume': '19464467'},
 {'1. open': '1099.4700',
  '2. high': '1108.7827',
  '3. low': '1081.0000',
  '4. close': '1081.9200',
  '5. volume': '11680890'}]

### Now that we have isolated the prices, we need to put them into dataframes and join them.

It is a list and we need to turn it into a dataframe.

In [273]:
type(prices)

list

In [301]:
stock_df = pd.DataFrame(prices)
stock_df.head()

     1. open    2. high    3. low   4. close 5. volume
0  1030.0000  1034.0000  975.2501   977.2000  21616141
1  1005.0600  1034.9400  995.3250  1028.1500  16615944
2   989.0300  1014.9200  973.4100  1004.2900  17238407
3   999.2900  1012.7099  982.1900   985.0000  19474135
4   981.0750  1026.2400  973.0970  1022.3700  18373737

In [317]:
stock_df = stock_df.rename(columns = {'4. close':'close'})

In [318]:
dates_df = pd.DataFrame(dates)
dates_df.head()

            0
0  2022-04-20
1  2022-04-19
2  2022-04-18
3  2022-04-14
4  2022-04-13

### Now the DataFrames can be joined.

In [321]:
whole_df = dates_df.join(stock_df)
whole_df = whole_df[[0,'close']]
whole_df = whole_df.rename(columns = {0:'date'})

In [322]:
whole_df.head()

         date      close
0  2022-04-20   977.2000
1  2022-04-19  1028.1500
2  2022-04-18  1004.2900
3  2022-04-14   985.0000
4  2022-04-13  1022.3700

In [ ]:
data

Here we see that this did not give us the result that we were looking for. These are the only keys. Let's see if we can try again and get more information.

In [206]:
for key in data['Meta Data']:
    print(key)

1. Information
2. Symbol
3. Last Refreshed
4. Output Size
5. Time Zone

In [120]:
avdf = pd.DataFrame.from_dict(data)
avdf.head(20)
df2 = avdf[5:]
df2.head()

           Meta Data                                Time Series (Daily)
2022-04-20       NaN  {'1. open': '1030.0000', '2. high': '1034.0000...
2022-04-19       NaN  {'1. open': '1005.0600', '2. high': '1034.9400...
2022-04-18       NaN  {'1. open': '989.0300', '2. high': '1014.9200'...
2022-04-14       NaN  {'1. open': '999.2900', '2. high': '1012.7099'...
2022-04-13       NaN  {'1. open': '981.0750', '2. high': '1026.2400'...

In [121]:
df2['New'] = ''

/Users/jaklynsoler/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [122]:
df2.head()

           Meta Data                                Time Series (Daily) New
2022-04-20       NaN  {'1. open': '1030.0000', '2. high': '1034.0000...
2022-04-19       NaN  {'1. open': '1005.0600', '2. high': '1034.9400...
2022-04-18       NaN  {'1. open': '989.0300', '2. high': '1014.9200'...
2022-04-14       NaN  {'1. open': '999.2900', '2. high': '1012.7099'...
2022-04-13       NaN  {'1. open': '981.0750', '2. high': '1026.2400'...

In [123]:
df2.New = df2['Time Series (Daily)']

/Users/jaklynsoler/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [144]:
df2.New = df2.New.astype("str")
df2.head()

/Users/jaklynsoler/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Meta Data,Time Series (Daily),New
2022-04-20,NaN,"{'1. open': '1030.0000', '2. high': '1034.0000...","{'1. open': '1030.0000', '2. high': '1034.0000..."
2022-04-19,NaN,"{'1. open': '1005.0600', '2. high': '1034.9400...","{'1. open': '1005.0600', '2. high': '1034.9400..."
2022-04-18,NaN,"{'1. open': '989.0300', '2. high': '1014.9200'...","{'1. open': '989.0300', '2. high': '1014.9200'..."
2022-04-14,NaN,"{'1. open': '999.2900', '2. high': '1012.7099'...","{'1. open': '999.2900', '2. high': '1012.7099'..."
2022-04-13,NaN,"{'1. open': '981.0750', '2. high': '1026.2400'...","{'1. open': '981.0750', '2. high': '1026.2400'..."

In [186]:
df2.New.str.slice_replace(start=0, stop=83, repl='')

2022-04-20
2022-04-19     '1028.1500', '5. volume': '16615944'}
2022-04-18      1004.2900', '5. volume': '17238407'}
2022-04-14       985.0000', '5. volume': '19474135'}
2022-04-13      1022.3700', '5. volume': '18373737'}
                               ...
2021-12-02     '1084.6000', '5. volume': '24371623'}
2021-12-01     '1095.0000', '5. volume': '22934698'}
2021-11-30     '1144.7600', '5. volume': '27092038'}
2021-11-29     '1136.9900', '5. volume': '19464467'}
2021-11-26     '1081.9200', '5. volume': '11680890'}
Name: New, Length: 100, dtype: object

In [157]:
df2.head()

,Meta Data,Time Series (Daily),New
2022-04-20,NaN,"{'1. open': '1030.0000', '2. high': '1034.0000...",977.2000
2022-04-19,NaN,"{'1. open': '1005.0600', '2. high': '1034.9400...","{'1. open': '1005.0600', '2. high': '1034.9400..."
2022-04-18,NaN,"{'1. open': '989.0300', '2. high': '1014.9200'...","{'1. open': '989.0300', '2. high': '1014.9200'..."
2022-04-14,NaN,"{'1. open': '999.2900', '2. high': '1012.7099'...","{'1. open': '999.2900', '2. high': '1012.7099'..."
2022-04-13,NaN,"{'1. open': '981.0750', '2. high': '1026.2400'...","{'1. open': '981.0750', '2. high': '1026.2400'..."

In [125]:
type(df2.New)

pandas.core.series.Series

In [126]:
def sharpe_calc(array):

#Each array row has: ticker, num_shares, price_per_share, date_of_purchase

    for i in array[0]:
        print(i)

### Objective One: Create a function where the input is number of shares, purchase price, and purchase date. The function should return the Sharpe Ratio.

To get the sharpe calculation of one stock:

we have to take the mean price difference per day for the last year starting at the date of purchase

BUT we want to have a cumulative sharpe ratio for all of the stocks that we own so we want the function to take in an array that is 4 columns: ticker, purchase price, purchase date and number of shares. 

Then we want the function to take the last year of the prices and find the differences between each price day by day and then find the average of that. 

Then we want the function to save that number to the average_daily_return list. 
We want the function to do the same thing with the 3 month Treasury rate and create a list with one number per array row. 

Then we want to take the sum of the average_daily_return list.
Then we want to take the sum of the 3mo_tbill list.

Then we want to take the avg_daily_return_sum minus the 3mo_Tbill_sum to find the numerator.
Then we want to take the standard deviation of the numerator to find the denominator. 
Then we want to divide the numerator by the denominator to find the sharpe ratio of the portfolio.